[2018-02-02 13:17] bluesun commented on #277
Hi @oliversauter , this is not enough, as Chinese-like languages have often several UT8 characters. We should look in the field of natural language processing for existing proven approaches covering the main languages that are not latin based.

[2018-02-03 15:15] oliversauter opened #279 "Bug: browser-polyfill.js:610 Uncaught (in promise) {message: "The message port closed before a response was received."}"
Got a response from a person filling out our exit survey, that their extension crashes with the following error:
browser-polyfill.js:610 Uncaught (in promise) {message: "The message port closed before a response was received."}

unfortunately, I don't have more information than this. Can we do something useful with it?

[2018-02-05 15:07] oliversauter commented on #276
fixed! Awesome!

[2018-02-05 15:07] #276 closed

[2018-02-05 15:08] oliversauter commented on #270
Great work @poltak!

This is a vid of the new onboarding process.
http://recordit.co/gVGJmLfw0z

[2018-02-05 15:08] #270 closed

[2018-02-05 16:54] oliversauter opened #280 "Tracking usage of Memex features internally"
In order to make usage-dependent notifications, we need to have some internal storage of the way/frequency people use the extension.
Right now we just send it off to analytics, with not much use apart from that.

So I propose we track a couple of things and write it to local storage:
Suggestions for additional metrics (or opinions about useless ones) welcome.

* [ ] # of searches (successful & uns

[2018-02-05 17:29] mukeshkharita commented on #237
Closed by #267

[2018-02-05 17:29] #237 closed

[2018-02-06 04:06] poltak commented on #279
This error gets thrown when runtime connection between two scripts (like imports UI <-> bg or search UI <-> bg script) is interrupted, like when the bg script is force refreshed and the UI is still trying to use the "port". But sadly, I don't think there's really much we can do with this info without context. Should keep an eye out for this though

[2018-02-06 08:43] paras7735 commented on #250
Can you tell me how to get assigned to this issue? I would like to take this issue up.

[2018-02-06 09:04] paras7735 commented on #272
Is this like a sidebar with different lists and the user can add pages to those lists?

[2018-02-06 09:48] oliversauter commented on #272
yes :) I still need to do some mockups for UX and UI though. Its a bigger feature.

[2018-02-06 10:14] oliversauter commented on #250
You are now :) Thanks so much for offering your help!
I suggest making a fork of master and then working in those changes.

### Mockups:
![shareresults](https://user-images.githubusercontent.com/7870039/35853384-a8143ca8-0b2d-11e8-8f43-4610cf45060d.png)

Don't care too much about the styling itself, i can do that.
Focus on functionality and then make your first PR.

### Intended user flow:
1. user

[2018-02-06 10:37] oliversauter opened #281 "Show Memex search results alongside google search results"
Similar to Pinboard, Evernote, it would be great to show search results of Memex alongside the results in Google, Bing and DuckDuckGo.

Just a simple mockup, design may vary
![googleresults](https://user-images.githubusercontent.com/7870039/35854974-2a32770a-0b32-11e8-9e73-d205255c46a1.png)

## Useful resources:
- https://github.com/nhoizey/PinboardInGoogle
- @poltak: what are the endpoints a pers

[2018-02-06 12:08] oliversauter commented on #225
closing this for now, as parts of it are fixed.
Still open:
- [ ] Separating the content of infinity scroll pages

[2018-02-06 12:08] #225 closed

[2018-02-06 13:32] #232 closed

[2018-02-07 15:24] oliversauter opened #282 "Tool tips in overview"
It would be good to have some tool tips in the overview that we can populate with tips and tricks on how to use Memex more productively.

This will help people understand the tool better without being annoyed by tutorials and popups.
The tooltip should be able to display html tags, like small images etc.

Functionality:

- [x] Change tooltip on every search
- [x] Hide and show tooltips
- [x] manua

[2018-02-07 15:56] mukeshkharita commented on #282
@oliversauter In this issue, we will just make one tooltip box in which we have to change the `title` and `text/image`. So when the user reloads or searches something then we can show randomly any tooltip.
We will have some number of tooltips in a file(just like constants) and will show the tooltip.

In this case, we can have some `prev` and `next` button in the tooltip box, so by clicking on butt

[2018-02-08 13:49] oliversauter commented on #279
Ok, closing this.

[2018-02-08 13:49] #279 closed

[2018-02-08 15:07] oliversauter opened #284 "Exclude words in query"
### User story:
as a user, i want to exclude words from my query.
For example I'd like to search for "all articles with the words **cats** in it, but without **dogs**"

[2018-02-08 16:16] oliversauter opened #285 "Improving onboarding with activity based notifications"
The goal is to increase engagement with Memex, by better explaining how the tool works.
But instead of exposing them to a long tutorial, we rather want to introduce people step by step.
The idea is to make it based on how they already used the tool and then explain further.

### Triggers could be:
1) Onboarding with autodownload. Information: "Basic search 'w'+'space' ***done***
2) First word-only

[2018-02-08 17:40] oliversauter opened #286 "Night Mode CSS"
### User Story
As a user, I want to be able to use Memex at night without going blind. :)

### Solution
Have a alternative CSS with darker color

[2018-02-09 05:38] poltak commented on #273
Started work on this in `feature/shortcut-cmds` - should be pretty straightfoward.

Search one and the skeleton for bookmarks done. The tags one is a bit more complicated since there's only one way to open the popup, but should ok.

Not sure if there's any way to change extension shortcuts in FF. At least I cannot find it.

Do you want to set default shortcuts for these commands as well?

[2018-02-09 13:55] oliversauter commented on #282
great, looked through the PR and everything seems to be working so far.
Now just a few design changes.

- [ ] Change the "hide" into an icon:
[noun_1159226_3EB995.svg.zip](https://github.com/WorldBrain/Memex/files/1709463/noun_1159226_3EB995.svg.zip)
- [ ] make sure, the next tooltip is never the one before.

[2018-02-09 19:25] mukeshkharita commented on #285
@oliversauter In this issue, we have to manage all the triggers(like we are searching for only for one word, the searchResults are too many etc.) then we have to show the user can use other filters so we only need one UI component in which we will pass the info and the `Got it` and `Learn more` button will be present for every trigger. If people press the `Got it` then we no need to show again tha

[2018-02-10 10:30] oliversauter commented on #285
Hey Mukesh,

thanks for expressing what you understood. Here a few corrections:

Here it means not for just one word, but words only, so only a regular term search without any filters.

I got a few use cases in mind, where the message stays, for example when a user hits no results. There we want to have other buttons maybe. So developing in a way that leaves this flexibility is important.

Importa

[2018-02-10 11:53] oliversauter commented on #273
hey @poltak
Can you try to integrate the ability for people to open this link: chrome://extensions/configureCommands
This way people can directly change the shortcut settings without the need to find it burried in the extension page.

I saw it in another extension, so it should work, but directly doing it with href is blocked by chrome.
Here is a thread where they talk about it: https://stackoverf

[2018-02-10 12:33] oliversauter commented on #223
Hey Joel,

I just checked on how we could do it, but unfortunately, the Chrome History API does not expose history that has been made on your phone :(
https://bugs.chromium.org/p/chromium/issues/detail?id=474511
We can only sync bookmarks.

Cheers,
Oli

[2018-02-11 04:31] nish17 commented on #286
May I work on this issue.?

[2018-02-11 05:12] poltak opened #288 "Simplify the way search backend is invoked from UI scripts"
### Background
* all search (and related indexing code) lives in the background script
* overview UI script opens a 2-way [`runtime.Port`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/Port) connection with BG script to send and receive search params and results

### Problem
* this is overkill; there's [only ever two outcomes](https://github.com/WorldBrain/Memex/blob/master

[2018-02-12 04:11] poltak commented on #273
@oliversauter played around and yep, it's totally doable to create a new tab and link to the chrome shortcuts menu. Where in the overview and popup do you want these links, and how should they look? I presume they will look different on each script.

Do you know if it's possible to access these settings in FF? I haven't found anything from searching around. If it's not, we'll have to define defaul

[2018-02-12 04:13] poltak commented on #273
Also: should the bookmark command act as a toggle, removing bookmarks as well, or simply not do anything if current page is already bookmarked?

[2018-02-12 09:48] oliversauter opened #291 "Disable indexing in Firefox's private browsing mode"
Unlike on Chrome, in Firefox, extensions are not disabled by default when entering private mode.

Got several people with the problem of needing to do double work on disabling Memex, when they enter private mode.
Would be good to get that in soon.

[2018-02-12 10:21] oliversauter commented on #273
Actually after further thinking about it, we may put them straight into the settings for now.
We need to clean up the settings a bit anyhow. Basically its missing a unified place where we actually enable people to change some settings, like the shortcuts, the amount of simultaneous downloads, if they only want to index bookmarked pages (becomes important when we have direct linking enabled)

It ma

[2018-02-12 10:22] oliversauter commented on #273
yeah there are some troubles with it. Will investigate and come back to you. It may be that we just provide the endpoints for the shortcuts and people have to use a separate app for those. At least thats how i have this problem in my memory, from the last time researching it.

[2018-02-12 11:18] poltak commented on #291
Seems easy to do, but gives us some different options of doing it. We have the choices:

- just make the ext not work in private browsing (easiest)
- allow the ext to separately run in non/private mode (apparently like having two extensions with different data; odd)
- or have the extension run in both but have a special flag set so we can write code around it (hardest, but most flexible)

https://

[2018-02-12 11:37] oliversauter commented on #291
ok, then lets go for the easiest version right now, because in case we encounter use cases requiring more effort, we can still reverse that and do it differently.

[2018-02-12 14:22] oliversauter opened #293 "Bug in PDFs are not indexed in importer"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
PDFs in the importer are not indexed and it shows the error "cannot read property 'cancel' of undefined"
PDFs work fine on a visit though.

2. __How can we replicate the issue?__
1) visit: http://bundesblock.de/wp-content/uploads/2017/10/bundesblock_positionspapier_v1.1.pdf and/or http://cdn.linkdetox.com/wp-content/u

[2018-02-12 19:27] paras7735 commented on #250
I have almost compleated the PR but I had a doubt as to what should I give the href attribute to the mail button.

[2018-02-12 19:28] oliversauter commented on #250
Great :)

What are the options you have/what would you suggest?

[2018-02-12 20:00] paras7735 commented on #250
I would suggest {"mailto:?body="+props.url}
which leads to an email client opening with the URL in the body and the sender's email empty.which can be filled by the user as he wishes.

[2018-02-12 20:09] oliversauter commented on #250
yeah i think that is the best, it gives users flexibility and nothing annying they have to delete everytime.

[2018-02-12 20:53] subrat-sahu commented on #281
How about we can get the open tabs URL in the background.js by onUpdated API on chrome and then check if it the URL matches one of the searches, if it does then use content_script to inject the required scripts to the page.This is the base plan.

[2018-02-12 21:46] oliversauter commented on #281
@subrat-sahu thanks for offering your idea :)
I am not sure though what exactly your idea here is though. What do you mean with "check if the URL matches one of the searches?" Can you describe it a bit more in detail?

[2018-02-13 03:52] subrat-sahu commented on #281
Oh, Pardon ! My Idea was to get the query from Google, Bing or DuckDuckGO search URLS and then accordingly make API calls to get the relevant information to be displayed based on the query.

[2018-02-13 09:16] oliversauter commented on #281
Good one! And how would you inject the results?

[2018-02-13 09:23] #293 closed

[2018-02-13 09:48] #291 closed

[2018-02-13 10:48] subrat-sahu commented on #281
By passing a message to content scripts and use content script to manipulate the dom in the google, bing or duckduckgo search page to insert the required html css, or I can write a react comoonent and inject the bundled js of that component in the search page.

[2018-02-13 11:29] oliversauter opened #299 "Save Twitter Posts"
Oftentimes we as users want to save or find a specific post or comment on social media again.
We need a “save to Memex” button for the major social networks (FB, TW, Pinterest, Reddit)
As preparation for GSoC, we’d start with a simple implementation for Twitter posts.

Important: The implementation of this needs to be as generic as possible, that allows us to expand to other social networks easily

[2018-02-13 13:48] oliversauter commented on #286
Hello @nish17

Thanks so much for your offer to help here!

To finalise, we'd need the designs for it. However you can already start laying the foundation for it, so we can later change the colours everywhere with lesser amount of work.

Keep in mind that we also need to implement a switch for this in the settings.

PS: Are you coming via Google Summer of Code?

[2018-02-13 15:22] nish17 commented on #286
@oliversauter
Alright.
Can you please share some reference links so that I get the exact idea for this?
and Yes I'm preparing for participating in Google Summer of Code 2018.

[2018-02-13 17:34] oliversauter opened #300 "Slim view of search results"
A user had a good idea of slimming down the results and allowing people to skim results better
https://worldbrain.helprace.com/i31-slim-view-for-results-list#item_comment_block_31247

[2018-02-13 17:37] paras7735 commented on #265
I would like to work on this issue. Can you give more information regarding it? Thanks

[2018-02-13 17:44] oliversauter commented on #286
Can you please share some reference links so that I get the exact idea for this?

What questions do you have? Will help me to get you the right material. We don't have a design requirements for it yet (coming in the next 2 weeks), hence i was mentioning that a good start would be to implement everything in a way that allows us to go over the stylings later. So as a start have everything set up in

[2018-02-13 17:57] oliversauter opened #301 "Adding/deleting a comment to a page"
We want to give people the ability to interact more deeply with the content they read.
As preparation for GSoC this means implementing the ability to make one or more comments and link them to one or more pages, with respect to the [Open Annotation Data Model.](http://www.openannotation.org/spec/core/) The more tricky part, which will then be part of GSoC is to add the ability to create annotation

[2018-02-13 19:14] ansh103 commented on #286
@oliversauter This app [Twitter-Night Mode](https://github.com/tsriram/twitter-web-night-mode/blob/master/sass/_twitter-night-mode.scss) has Night Mode Button to change Twitter into dark mode.  Your comments on it?

[2018-02-13 19:17] oliversauter commented on #286
Hey @ansh103, ha great idea :)
A bit out of scope for that specific issue, as we are looking to first make our own UI get a dark-mode ability.

[2018-02-14 07:45] ansh103 commented on #299
@oliversauter and @poltak I am interested in working on this.
So moving on to my analysis so far:-
According to your preparation list, first comes 'Understanding the relevant code base'
a) Mechanism:- What the button does? Saves a tweet. So where so it be saved? Since Memex analyzes pages on basis of history. We already have interface to store that. Now the question is whether we want it to be wit

[2018-02-14 13:56] blackforestboi opened #304 "Pages are not indexed anymore"
If reporting a bug:

1. **Can you describe the problem and bug in more detail?**
When visiting a page, the title etc is indexed, but not the content.
I have about 8000 documents in the DB.
It throws this error:
![](https://user-images.githubusercontent.com/7870039/36207677-f619a504-1196-11e8-975f-896056945967.png)
1. **How can we replicate the issue?**

I don't know, it seems only to be in one of

[2018-02-14 16:09] paras7735 commented on #300
I would like to work on this issue

[2018-02-14 16:10] mukeshkharita commented on #285
Hey @oliversauter @poltak @bluesun
This is the data structure that we can use.

    const NOTIF_METRICES = {
        'onbarding-download' : {
        'onbarding-download': { text: "Basic search 'w'+'space", isCleared: true },
        'nlp': {text: "You can also use natural language. Try it out by typing e.g. 'google' into the search field."}
    },
    'first-word-search' : {
        'first-word-s

[2018-02-15 02:45] poltak commented on #304
a few additional questions to get a better picture:

1. does it happen for every page index now, via imports, bookmarks, and visits?
2. what happens when you search?
3. what happens when you delete pages?
4. were you interacting with the ext directly when it happened?
5. is there any obvious abnormalities about the data when you browse through it the Application dev tool tab?

Searching around for

[2018-02-15 03:49] #282 closed

[2018-02-15 06:18] raincrash commented on #299
For the twitter intergration part, @oliversauter and @poltak, you thoughts on adding an oauth integration with twitter, using the streaming API when the user is on the twitter homepage, and then add listing, indexing and searching of the stream? We get decent metadata this way, and also would reduce the amount needed to physically crawl though the ever-changing twitter UI.

[2018-02-15 07:23] migom6 commented on #301
I would like to work on this issue.

[2018-02-15 08:40] oliversauter commented on #299
@raincrash > you thoughts on adding an oauth integration with twitter, using the streaming API when the user is on the twitter homepage

Are you referring here to 'Goal V3'?
This may indeed be a valuable approach to the problem, especially for the newsfeed view. Wonder what kind of data we could get out of there and how useful it may be in terms of us also indexing the tweets/posts a user has actu

[2018-02-15 08:43] oliversauter commented on #299
Good question to @poltak

I think @raincrash already has some ideas here, right?

I think Retweet and Scheduling a tweet is a bit out of scope here. We really just want to enable people to save a tweet to Memex.

@ansh103 have you found the relevant pieces in the code enabling you to theoretically save a tweet? What kind of adjustments to the code/data structure do you think are necessary?

[2018-02-15 08:45] arpitgogia commented on #299
@oliversauter I've worked with the Twitter API so I'd like to add that OAuth is a viable way of doing this. One tweet object from the API can provide the exact same information as what you see on your screen, just in a more programmer friendly way. On the other hand there are a number of chrome extensions like Grammarly etc that are able to manipulate Twitter's DOM. We need to insert a button only

[2018-02-15 08:48] oliversauter commented on #299
I agree for the first few features it is not necessary. For "Goal V3" it may get interesting

[2018-02-15 08:49] WorldBrain-syncboy commented on #299
➤ Oliver Sauter commented:

@raincrash > you thoughts on adding an oauth integration with twitter, using the streaming API when the user is on the twitter homepage

Are you referring here to 'Goal V3'?
This may indeed be a valuable approach to the problem, especially for the newsfeed view. Wonder what kind of data we could get out of there and how useful it may be in terms of us also indexing the

[2018-02-15 08:54] WorldBrain-syncboy commented on #299
➤ Oliver Sauter commented:

I agree for the first few features it is not necessary. For "Goal V3" it may get interesting

[2018-02-15 08:55] migom6 commented on #286
Can I work on this issue? I can start by delivering a sketch file if I am assigned and later I can implement it with react.

[2018-02-15 08:59] raincrash commented on #299
Yes, as @arpitgogia mentioned, [Streaming API](https://developer.twitter.com/en/docs/tutorials/consuming-streaming-data) + OAuth would be a very valuable resource for 'Goal V3'. I have worked on both of them for a different project. The information also includes a lot of metadata like geotagging, trends and metrics. Not sure about the "how useful it may be in terms of us also indexing the tweets/p

[2018-02-15 09:03] oliversauter commented on #304
#### When visiting it throws now also another error:
<img width="1589" alt="screen shot 2018-02-15 at 09 52 18" src="https://user-images.githubusercontent.com/7870039/36247982-32692dbe-1236-11e8-848b-191d2334c859.png">

#### when importing it doesnt throw an error, but also does not index the terms of the pages, only title and url
<img width="753" alt="screen shot 2018-02-15 at 09 53 13" src="http

[2018-02-15 09:05] oliversauter commented on #299
For now, definitely.

[2018-02-15 09:07] arpitgogia commented on #299
We can have this as a setting. Auto or manual indexing.

In a broader sense, querying the Twitter API is one additional task whereas if we are able to insert a button in every tweet, we can get the corresponding text as well.

[2018-02-15 09:15] oliversauter commented on #300
Great :) I suggest first step would be to make some mockups?
Do you know and use Sketch?

[2018-02-15 09:16] raincrash commented on #299
Agreed. I am looking into the DOM manipulation part first -- adding a button and retrieving the context on click. Where context is the corresponding tweet id and data. Once we get that into a pouch document, it should be a bit easier to add indexing and search ability. What do you think about this approach?

Also, it is definitely easier to do an auto indexing of all tweets with oauth, but it woul

[2018-02-15 09:17] oliversauter commented on #299
You may want to look into how pages are stored right now, as all the handling of storing in pouch etc is already implemented.

[2018-02-15 09:20] oliversauter commented on #286
To be noted from the Slack convo between @migom6 and me, Migom starts with the investigation to #301 issue, not this one. Good luck :)

[2018-02-15 09:53] ansh103 commented on #299
@oliversauter I was thinking about an Site Listener function(based on the site type, it'll be again divided)  which will capture the link. This way we generalize the whole thing. But again that is goal set for later.
So coming to storage part. Existing storage code base lies in storage.js. Right? @raincrash If you are looking into this. Then I can take up UI of the button. @arpitgogia You can esta

[2018-02-15 10:10] paras7735 commented on #300
No, i don't have a mac. :(

[2018-02-15 10:11] raincrash commented on #299
check out `src/pouchdb.js` and where ever pouchdb is manipulated, esp. in `util`s.

[2018-02-15 10:16] arpitgogia commented on #299
PouchDB isn't where we store the index. In fact the Pouch will be deprecated in the future. Check out `src/page-storage` and maybe `src/search` and of course @poltak knows the most about the whole search mechanism.

[2018-02-16 01:08] poltak commented on #299
@ansh103 Our data side of things will mostly likely change in the next few months. I think originally the idea was to create a separate data type, but not sure if there's enough difference: A tweet should have text content, title (maybe we don't want these for tweets; not sure what the API provides), and url data + any associated visit/bookmark event data; basically all we need to make a page curr

[2018-02-16 02:04] poltak commented on #285
@mukeshkharita what's the purpose of having nested `nlp` keys for each top-level key?

Also why would `'tags-added-overview'`, for example, have an array values but other same-level values, like `'too-many-result'` are just objects? I think types should be consistent, or it's going to be very hard to use.

[2018-02-16 04:23] mukeshkharita commented on #285
Yeah that makes sense why we are making the one top-level key and one inner level key
We can make array of objects (NOTIF_METRICES)

    const NOTIF_METRICES = [
    {
         'onbarding-download': { text: "Basic search 'w'+'space", isCleared: true },
         'nlp': {text: "You can also use natural language. Try it out by typing e.g. 'google' into the search field."}
    },
    ]

because there

[2018-02-16 09:16] migom6 commented on #301
@oliversauter,
I read the open annotation data model specs. Now, I am familiarising myself with the existing codebase.
I would like to have some sample mocks according to our discussion over slack before I propose a data model.
Below is a link of code snippet which is played for a while (for output check the console)
https://jsfiddle.net/migom6/f52uom2j/3/
I have gone through enough documentation

[2018-02-16 09:44] oliversauter commented on #301
@blahah already worked on some code to make the highlighting possible.
Annotations can be built with the same highlighting/anchoring methods.
https://github.com/WorldBrain/direct-linking-client

You mean for the design for the comments? Will provide them by the end of the week.

Thanks for taking this on!

[2018-02-16 10:09] migom6 commented on #301
Yes, I think it would be of great help having the UI, then we can go through less iteration for the data
model. I'll go through the direct-linking-client as of for now.

[2018-02-16 14:10] migom6 commented on #301
I have read the code of the direct-linking-client.
And seems it is using only annotatorjs and dom-highlight-range to achieve it.
Annotatorjs has a good documentation and extensive plugins. The purpose can be solved with it easily.
Even hypothes.is is using the same!

[2018-02-16 16:01] oliversauter commented on #301
@migom6

Here are the mockups for the comments feature.

### Results list with new icon
Every result element should have a new icon indicating the ability to add a comment
![resultslist_comments](https://user-images.githubusercontent.com/7870039/36315047-fda4057a-1336-11e8-8f71-d28a21a9e16d.png)

### Sidebar to add new comment and edit old ones

When pressing the comment button, a sidebar opens on

[2018-02-16 21:23] vaibhavchellani commented on #239
@oliversauter can i work on this ? seems like a good way to know my way around the codebase .

[2018-02-17 00:02] akbarbmirza commented on #265
I'm also interested in working on this. Would like to discuss further.

[2018-02-17 00:36] oliversauter commented on #265
Hey @paras7735 & @akbarbmirza

Thanks for offering your help here. :)
What questions do you have with which I can help you?

@akbarbmirza Are you also coming via Google Summer of Code?

[2018-02-17 00:40] oliversauter commented on #239
It indeed is a good place to start :)
However, we currently work on so many different places on the code and are rather limited in the ability to make code review.

Hence I think it is the most productive to try to do it in the context of the GSoC projects.
So if you pick one you like, we will have some small task to start there that will have the same effect on helping you to dive into the code b

[2018-02-17 04:29] akbarbmirza commented on #265
@oliversauter yes, I found the project through GSoC and I'm interested in working on it for it.

[2018-02-17 08:36] paras7735 commented on #265
@oliversauter I wanted to ask if this read it later list will work as the custom lists- (https://github.com/WorldBrain/Memex/issues/272)

[2018-02-17 08:59] vaibhavchellani commented on #239
@oliversauter yes i think you are absolutely right .

[2018-02-17 10:57] oliversauter commented on #265
@akbarbmirza Do I understand correctly that you are a beginner with React?
Unfortunately, we currently don’t have the (wo)manpower to help you learn React, and our project is fully built on it. I am sure, you'd have the drive to learn it by yourself, but in order to produce usable code, that means our team still has to give you a lot more guidance. (and many do it voluntarily)
If that is the case,

[2018-02-17 11:09] vaibhavchellani commented on #272
I have started working on the issue after gaining insight on the requirements from @oliversauter . I hope to send a PR in a few days .

[2018-02-17 12:01] oliversauter commented on #272
### Here are the Mockups:
#### Closed
![without sidebar](https://user-images.githubusercontent.com/7870039/36340473-c2f65b24-13dd-11e8-8df9-b6e7a9fdaf93.png)

#### Open
![with_sidebar](https://user-images.githubusercontent.com/7870039/36340574-9198a7be-13e0-11e8-80af-c72d861e70c3.png)

### Expected behaviours

- [ ] small plus on the side of "my collections" adds a new entry on the top with focus

[2018-02-17 13:04] paras7735 commented on #265
@oliversauter I would like to start working on this issue and coordinate with @vaibhavchellani who has started working on #272.I take it that its UI is similar to #272.We can also add the ability to view lists from the memex button in the address bar itself like a submenu.

[2018-02-17 13:49] paras7735 commented on #280
We can also add counting of shares and a shared with others list.

[2018-02-17 13:55] paras7735 commented on #272
Hey @vaibhavchellani I would like to know how much have you done so that we can coordinate easily. :)

[2018-02-17 13:57] paras7735 commented on #272
@oliversauter I wanted to know if this feature is taking the place of the tips component which is positioned on the left side currently.

[2018-02-17 14:04] oliversauter commented on #272
@paras7735 the tips component likely moves somewhere else then, yeah. Not sure yet where though.

[2018-02-17 14:08] oliversauter commented on #265
Actually the reading list is just like one of the lists, but one that is not deletable. It works the same way though in terms of filtering behaviour.

I will provide updated mockups for both the popup and the lists overview.
If #272 works, its easy to make V1 possible. Whats essentially needed is just a way to add pages from the popup.

[2018-02-17 14:29] paras7735 commented on #284
We can add a filter like this query " !& dogs" as a temporary blacklisted word using a negative boostedTerm Search function

[2018-02-18 06:25] vaibhavchellani commented on #272
Hey @paras7735 i just started yesterday ,i am currently looking into the codebase and thinking about ways to store the lists in indexedDB .

[2018-02-18 08:29] digi0ps commented on #281
@oliversauter Should I work on this for my first issue?

[2018-02-18 10:15] naman03malhotra commented on #265
@oliversauter I would like to work on this, I have decent experience in React, React Native and Redux.
Please help me get started.

[2018-02-19 01:01] poltak commented on #285
@mukeshkharita that doesn't answer what is the __purpose__ behind the `nlp` key. I'm trying to figure out the purpose in relation to the requirements. Like how does our NLP queries for adding time limits relate to `add-bookmark` action?

Don't want to be checking types and performing different logic based on type; it should be consistent, so given any of those data values you can perform a single

[2018-02-19 11:18] oliversauter commented on #281
Okay I will look into the issue.

Ah I thought you have already started on it? :)

But yeah sure. Let's get hacking!

I suggest opening a new repository for the code that afforts integration of search results into Google etc.

Important to keep it as abstract as possible so that we can add new search engines easily (bing, DuckDuckGo etc)

[2018-02-19 13:58] #217 closed

[2018-02-19 14:45] digi0ps commented on #281
Sorry, I was confused as the other guy had also commented.

You want me to open a new repository and work on the content script code there or should I fork this repo and create a new module in src?

[2018-02-19 16:32] ShishKabab opened #310 "Achieve good test coverage for current search index API"
Our existing product with over 40.000 users needs to develop good test coverage to enable safer refactoring. The most urgent need right now is to cover the functionality of the search index of the product so we can safely write a new back-end. More details can be found on <bug URL>. As you can see, we've identified some tests that should be easy to write that we can use to get acquainted with each

[2018-02-19 18:15] oliversauter commented on #281
Oh ok :)
Too bad, sorry for not clearing that up properly:
Since it is a drop-in task, it might as well end up 2 people working on it. Afterall we need to see which of those the collaboration and code quality is good enough.

Just talked to the other guys, and for simplicity sake, you can work in a fork > src folder. Happy Hacking :)

[2018-02-19 19:59] akbarbmirza commented on #265
@oliversauter I'm relatively new to React. I understand your concern, so thanks for the heads up.

[2018-02-20 11:49] oliversauter commented on #304
I found this here, maybe giving more light?

https://stackoverflow.com/questions/17131015/why-is-this-indexeddb-put-command-failing-error-dataerror-dom-idbdatabase-exc
Seems like our error is a 'DataError' as seen in the log:
<img width="329" alt="screen shot 2018-02-20 at 12 47 36" src="https://user-images.githubusercontent.com/7870039/36422443-49ed6c34-163c-11e8-99dc-c1df95cd5cce.png">

Also I t

[2018-02-20 18:41] arpitgogia opened #311 "Irregular Popup Formatting"
If reporting a bug:

1. **Can you describe the problem and bug in more detail?**
When you open the popup in a non full screen Firefox window, it renders perfectly the first time. However once you open the popup again in the same window, it doesn't render perfectly
(screenshots attached)
![screen shot 2018-02-20 at 11 23 17 pm](https://user-images.githubusercontent.com/9051659/36442303-53cd4c1a-169

[2018-02-21 01:24] poltak commented on #311
Unfortunately not reproducible over here (so far) with FF 59.0b8, FF 58.0.2 and Memex 0.1.0.1030.
Tried on already-indexed and not-yet-indexed pages. What are the versions running when this happens and maybe what webpage - or is it just happening on all?

[2018-02-21 02:05] poltak commented on #311
Was never happening on my laptop display, but just tried on my lower-res external monitor (1080p) and it happened on that as soon as I plugged it in. Weird thing was, the popups for ublock origin and lastpass addons were doing a similar thing:
![screen shot 2018-02-21 at 09 04 51](https://user-images.githubusercontent.com/1130716/36459439-5aae619a-16e6-11e8-9836-1716bb724479.png)
Now it's just sto

[2018-02-21 02:17] oliversauter commented on #311
Maybe they just ran a new update on FF?

[2018-02-21 04:37] arpitgogia commented on #311
I forgot to mention this detail, at the time I wrote this I also tried only on my external 1080p monitor and yes I can't seem to be able to reproduce it right now as well on the same monitor.

Version 58.0.2 was released on February 7

[2018-02-21 14:02] oliversauter commented on #311
Maybe it was just the first adjustment?
Do you guys use a nightly version or the production version?

[2018-02-21 18:22] migom6 commented on #301
**Hi @oliversauter**

I have made the  presentational component for the comment box in the popup view. I have made a draft according to the Open Annotations Model and I am on the way of writing the HOC for it. After that I'll start working on the side bar component.
Below is the the link of the forked repo and branch link of my works on the project
_https://github.com/migom6/Memex/tree/feature/com

[2018-02-21 21:32] oliversauter commented on #301
hey @migom6

Great! thanks for communicating everything you did clearly and congrats to your first progress! :)

Where did you implement it or just thought about it? Can't find it in your commits.
In any case it would be good to post the schema you have in mind as a comment here.

[2018-02-21 22:54] migom6 commented on #301
hi ! @oliversauter
**Thank you** for going through my commits.
I have not implemented the data model in the code and the RPCs. I have just made a rough schema for the comment(s) along with provisions for start and end ranges. I want to finalise it before I send it to you. Can I submit it by the end of this weekend since I am having exams?  I will be sending a **_PR_** for code review along with th

[2018-02-22 04:02] fayeoyaee commented on #280
Have the blacklisted pages already been tracked and wrote to local storage in [storeBlacklist](https://github.com/WorldBrain/Memex/blob/a496d87335a603d8c7cea671ce6ee8ac4a675f55/src/blacklist/background/interface.js#L55)?

[2018-02-22 09:33] subrat-sahu commented on #288
@poltak I would like to work on this issue.

[2018-02-22 12:51] poltak commented on #288
Thanks for the offer @subrat-sahu ! Should be some good leads to get looking into in the OP. Let me know if you have any more specific questions as you get more into it.

[2018-02-22 17:11] mukeshkharita commented on #280
@oliversauter @poltak
After discussing with @poltak this data structure can be used to store the events.

    key  = {
      category: '',
      action: '',
      timestamp: "",
    }

We can store all the events in the Dexie, but for now, we can make an abstract interface. Later we can replace with Dexie.

[2018-02-22 18:49] paras7735 commented on #265
Hi @oliversauter
I have completed a UI MockUp for the Read It Later Button in the Popup
![image](https://user-images.githubusercontent.com/20720548/36557318-f3b64e82-182d-11e8-8a4b-7924312b9627.png)
Currently, I am trying to save the List in a similar way Bookmarks are Being saved using a 'LaterList/' Key in the DB. This will enable this component to function as a separate list which cannot be Del

[2018-02-22 19:04] oliversauter commented on #265
Awesome job, will give it a test tomorrow!
Does filtering by laterlist also already work?
If yes, could you  implement a simple button somewhere in the overview to let me test that?

@poltak and/or @ShishKabab. If you find the time, could you have a look over this?

[2018-02-22 19:38] paras7735 commented on #265
It does show laterlist: true for pages which are saved in LaterList.
I will implement it as soon as possible.
But I was getting hit by a bug which was stopping webpages from getting indexed.
It happened 2-3 times but its now working fine when I reinstalled the Extension.
I have to make certain that it is not due to the laterlists.
I will continue testing it and see if it pops up again. :/

[2018-02-22 19:49] oliversauter opened #314 "BUG: No tab stored under ID: XXXX"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
I cannot really reproduce it, but sometimes this error pops up and prevents the storage of pages:
was that the same for you @paras7735?
<img width="639" alt="screen shot 2018-02-22 at 20 43 35" src="https://user-images.githubusercontent.com/7870039/36560647-a364725e-1811-11e8-86c7-c455c277dc96.png">

[2018-02-22 19:55] paras7735 commented on #314
Exactly Same Error.
![sketch 3](https://user-images.githubusercontent.com/20720548/36560941-46fe8190-1838-11e8-8a34-70a7796a59ed.png)
And it chooses pages randomly.

[2018-02-23 00:55] poltak commented on #280
@mukeshkharita just to clarify, we didn't discuss anything final, just plans and ideas for you to research more into as part of the task - deciding things like this now is a bit premature. Great first draft basing it on Piwik/GAnalytics required event fields though!

[2018-02-23 01:24] poltak commented on #314
This is the same behaviour we've had all along - untracked tabs don't get logged - just now with new `TabsManager` state it explicitly throws an Error which is uncaught, hence gets logged there. Quick fix, so it doesn't look like something horrible is happening, and all round better practice, would be catching it and either ignoring (old behaviour) or logging something like "untracked tab ignored"

[2018-02-23 01:46] oliversauter commented on #280
Indeed it is too early to talk about the concrete data model.
More high level structure is required to enable us to get to the data model point.

To put for the record what Mukesh and me discussed in a chat earlier.

**Context**
The underlying data we gather here can be used for a variety of ways.
Like analytics for the user internally, global analytics on our servers, activity based notifications

[2018-02-23 01:57] poltak commented on #265
@paras7735 looks like you're making great progress :) feel free to open a PR from your branch to our master and it'll make it easier for us to review and discuss implementation further.

RE unintended reformatting due to prettier: that's the point of prettier 😛 it forces an opinionated code style on all contributions to keep things (mostly) consistent. Just write code and feel free to completely f

[2018-02-23 03:51] mukeshkharita commented on #280
@poltak

Yeah we didn't discuss finally, this was just a suggestion

[2018-02-23 11:19] paras7735 commented on #265
Yes, I will send a [WIP] PR the moment I complete filtering of laterlist in the overview component :D

[2018-02-23 12:11] mukeshkharita commented on #280
@oliversauter @poltak I think we can also store the value within the event, the value describes the no. of time this event has been triggered till this timestamp.

    key  = {
      category: '',
      action: '',
      value: 0,
      timestamp: "",
    }

The value can be used when we want to query anything about the timestamp.
For e.g. I want everything that has been used in the last 7 days:
W

[2018-02-23 14:54] oliversauter opened #316 "Indexing Iframed PDFs"
Some journals have their PDFs behind iframes, so we can't directly scrape them, but the underlying pdfs are linked in the html code.

One of our users noticed that and asked if it were possible to get those pdfs without an extra step of needing to follow the iframe manually.
Example: http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7859416

[2018-02-23 14:57] dgraziotin commented on #316
That iframe points to http://ieeexplore.ieee.org/ielx7/32/8289825/07859416.pdf?tp=&arnumber=7859416&isnumber=8289825, but I wonder if this issue could be made wider? While not a nice practice, iframes are quite under use these days. You could follow and index iframes contents regardless of them being PDFs or not :-)

[2018-02-23 15:00] oliversauter commented on #316
@dgraziotin Thanks for adding to this!

Actually a good idea. We have to look how they are used, for example if they load ads, we might not want to have them in there. Investigation needs to happen
![](http://www.stevennoble.com/main.php?g2_view=core.DownloadItem&g2_itemId=3611&g2_serialNumber=3)

[2018-02-23 15:55] digi0ps commented on #281
Got to work on this after hectic days in college.
After going through the code of the overview component found that _search_ connection is dispatched and handled by actions. But I think a separate store for this part alone would be a overkill? I am thinking of handling the fetching of search without a Redux store. What do you think? @oliversauter

[2018-02-23 22:31] migom6 commented on #301
hey @oliversauter @blahah
As discussed in issue #236, should this be implemented using **_annotatorjs_** which is used by **_hypothesis_**. Annotatorjs has its own data model for most of the things and I can't see any documentation to load data to annotator without a proxy server (for annotatorjs).

[2018-02-24 05:49] karansingh1559 commented on #286
@oliversauter if no one is working on it, can I?
It would be a great first issue for me :)

[2018-02-24 11:19] paras7735 commented on #265
I have completed the filtering of search results by Later list and the Mockup Popup UI.
I have created a PR regarding the same.
https://github.com/WorldBrain/Memex/pull/319

[2018-02-24 13:33] oliversauter commented on #301
Great, just left a comment and linked the guys who built annotatorJS and worked on the implementation of the spec at Hypothes.is. :)
They hopefully have the time to give us some good feedback.

I think you can try to progress with the rest and get it running, and we change the data model later. Now we first want to get a proof of concept up.

[2018-02-24 13:54] migom6 commented on #301
@oliversauter,
I will proceed with the implementation of comments feature as of now.
If I can get the svg for these images will be of big help

<img src="https://i.imgur.com/AAIZqxp.png"/>
Cheers! 😄

[2018-02-24 14:29] oliversauter commented on #301
Here you go :)

[Archive 2.zip](https://github.com/WorldBrain/Memex/files/1754444/Archive.2.zip)

[2018-02-24 17:02] fayeoyaee commented on #280
@mukeshkharita

Any further details on what the abstract interface should be like?

[2018-02-26 13:49] oliversauter opened #321 "Bug: Screenshots in new tabs on twitter are not taken"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
When opening a tweet in a new tab, the screenshot is not taken.

2. __How can we replicate the issue?__
1. Open twitter feed
2. Click on a tweet's time marker and open the tweet in a new tab
3. see error message in console
<img width="840" alt="screen shot 2018-02-26 at 14 49 16" src="https://user-images.githubusercon

[2018-02-26 13:53] ShishKabab commented on #265
@poltak I've talked with @paras7735 today, and I saw PouchDB is currently being used as the back-end. Also, his branch currently integrates with the old search index, and we hope to have the new search index implemented by the time this feature goes to production. What do you @poltak recommend as the backend for storing new data instead of PouchDB?

Also @paras7735, @oliversauter pointed out to me

[2018-02-26 14:06] vaibhavchellani commented on #265
@oliversauter @ShishKabab  yes i plan to co-ordinate with @paras7735 regarding this issue , unfortunately i am unable to work till 2 march because of my univ exams . We will get the prototype ready asap after that as i have planned on how to implement #272 .

[2018-02-26 14:48] vamshi9666 commented on #301
i wanna get involved in this . can i ?

[2018-02-26 15:35] vamshi9666 commented on #281
hi,  i would like to work on this project .
coming to this issue . how about getting search results in a popup .
when user searches for a term in a search engine , our popup will trigger to show results

[2018-02-27 02:16] poltak commented on #265
Yes at the moment we're in a bit of a flux with data, so any data storage now is bound to change. I would recommend abstracting away the parts of your code that interact with data sources in separate functions where the interaction can take place. As long as there is no interaction outside of these scopes, they should be the only places needed to be updated later.

[2018-02-27 06:39] migom6 commented on #301
@oliversauter thanks 😄
I'll start committing soon since my exams ended.

[2018-02-27 17:39] Kavignon commented on #193
How would be get started on this issue. I'm a newcomer and I'd love to participate in this project, I'm really intrigued

[2018-02-28 15:16] oliversauter commented on #281
@vamshi9666
Thanks for your interest in helping out here. Now its already 2 people wanting to contribute to it and that have made substantial some progress on it. It's a bit late for this particular issue.

To give feedback to your idea: I think a popup is not desirable, as not everytime you are searching, you want to see the results from Memex. If it is a popup, I suspect it gets more annoying th

[2018-02-28 15:18] oliversauter commented on #281
## Design Updates
I got some first design drafts from Jean-Baptiste for the search.
We initially discussed having the search results next to the google results, not on top.
But i think both versions are great.

![poc_annoted](https://user-images.githubusercontent.com/7870039/36795338-130e0ecc-1ca3-11e8-883f-32941bd1219a.jpg)

## Requirement Updates

[2018-02-28 16:03] oliversauter commented on #280
@mukeshkharita I think before implementing things, it would be most productive to write down everything you understood about that project and how you'd implement it. Basically starting with the proposal.
This way we prevent unnecessary work and misunderstandings.

[2018-02-28 16:14] mukeshkharita commented on #280
@oliversauter sure!

[2018-02-28 18:01] subrat-sahu commented on #281
@oliver what about the toggle button in the settings I made ? is it ok?

[2018-02-28 20:11] mukeshkharita commented on #280
Hey, @oliversauter @poltak I've made the first draft of the proposal.
Please review it.
https://docs.google.com/document/d/1K_t8HFQ59lQakYdQY42f5im35RiDdFn8u_b4gG06FHY/edit?usp=sharing

[2018-03-01 15:56] mukeshkharita commented on #271
Closed by #313

[2018-03-01 15:56] #271 closed

[2018-03-03 16:54] paras7735 commented on #265
This is a rough user flow mockup and some queries regarding this issue

## Popup-
The user is given the ability to add and remove a web page from the popup
This will require the use of the new Dexie-based search index
It will also require being stored in the Database. It can be done in two ways
1. Add a LaterList:true attribute to a list and treat it as a special List which cannot be deleted.
2. A

[2018-03-04 18:28] oliversauter commented on #265
Thanks for putting in thoughts on how we can make the UX of this feature.

We don't need to specifically (re)index the page a person wants to have for "read-it later". This step should already happen before they decide to store it.

Yeah, still need to mock that. The feature of removing/adding pages (in bulk) to lists is the same here, as it is for #272

will there be 2 options ?(excluding the one

[2018-03-05 06:35] shivam-tripathi opened #325 "Memex throws error in console"
If reporting a bug:

1. **Can you describe the problem and bug in more detail?**
Using memex extension, console continues to throw the following error repeatedly:
`browser-polyfill.js:610 Uncaught (in promise) {message: "The message port closed before a response was received."}`

![memex](https://user-images.githubusercontent.com/9463078/36960175-d2523936-206b-11e8-8142-701810ba544d.jpeg)

1. **Ho

[2018-03-05 13:26] paras7735 commented on #265
@oliversauter
By Query 1 I meant to understand the UI/UX Flow for the Result Items List generated when the list is generated from the Laterlist Storage.

I also wanted to know if the Reader is better off being an overview component or a different module.
1.If it is an overview component the whole system will act as a Single Webpage Application and will share props.
2.If it is a different module th

[2018-03-05 20:41] oliversauter commented on #325
Thanks @shivam-tripathi to take all the time to try to find the problem.
Very much appreciated.
However, you can thank everyone but me for actually building it :) I may conceptualise a lot of it, but the credit for building goes to @poltak @mukeshkharita @ShishKabab @arpitgogia and a couple of other contributors we had over time :)

Sorry if it causes troubles. Presumingly it may be because of the

[2018-03-06 14:57] oliversauter commented on #280
@mukeshkharita

I thought about the different use cases for the stuff we want to track and I found an important reason, why we need to have some analysis run locally.

For the users who disable tracking, or have "do not track" activated, we can't send anything to the server.
This means that we also can't use activity based notifications if we need to send everything to the server for analysis.

Fo

[2018-03-06 17:24] mukeshkharita commented on #280
@oliversauter
Yeah for this use case we have to also analyse the data in the extension. There will be some fixed number of events that we have to store incrementally too with the event log in dexie.

These activity-based notification are after occurring the events fixed no. of times. Right?
For example, the notification to share tool after 100 times search.

[2018-03-06 17:27] oliversauter commented on #280
Not necessarily after a fixed number of times, it could also trigger when for example people slide below a certain ratio value.
For example when the ratio of unsuccessful searches vs successful searches goes below 30%.

What I want to express here, is that the processing module needs to be flexible enough to do any sort of calculation whenever a event happens, in order to decide if there should be

[2018-03-06 17:33] mukeshkharita commented on #280
Yeah, the module should be flexible, but according to action, we have to store the data incrementally.

For this, we have to also store the successful searches as well as successful searches in an incremental manner.
So For this, we have to first find out all of the action that we have to trigger, then we can store the things incrementally that are needed.
Make sense?

[2018-03-06 17:47] oliversauter commented on #280
yes makes sense. :)

I will provide you with a complete list of things we need to track locally

[2018-03-06 17:48] mukeshkharita commented on #280
Okay, Thank you! :)

[2018-03-07 19:14] oliversauter opened #327 "Activity Based Notifications"
I just met up with Jean Baptiste and @ShishKabab to talk through the different use cases for activity based notifications.
These are the high level requirements, @ShishKabab will provide the data model thoughts and Jean Baptiste the designs.

## Actions we want to incentivise & triggers
1) word search
   - On Install when onboarding dialogue is closed
2) time filter in date picker
   -  '1. search

[2018-03-08 15:21] ShishKabab commented on #327
Most of this can be done purely by looking at event counts, mainly of these:
- Word search
- Time filter through date picker
- Time filter through natural language
- Address bar search
- Natural language time filter
- Tag filters
- Tagging
- Domain filters
- Blacklisting

After that, the ABN module will to store which notifications it has already shown, which can in itself also be events stored to

[2018-03-08 15:34] ShishKabab commented on #280
For #327 it seems we need only the count of various events, which can be stored very efficiently, so the flow layed out by @oliversauter above seems to be a good choice. I've added a list of events to store there. For the data model, I'd recommend sticking with one table to which events are added, with these fields: type (int), timestamp (int), data (object). The type could be read from an object

[2018-03-08 15:42] oliversauter commented on #280
As for crash reports, this was the library @blahah was talking about: https://sentry.io/welcome/

[2018-03-08 19:51] mukeshkharita commented on #280
@ShishKabab

The data could have only the no. of times event triggered for now but in future, it can be changed according to need, Right?
These could be attributes and the values.

    type: 1,
    timestamp: 1520538527163,.
    data: {
        count: 0,
    }

[2018-03-09 09:03] ShishKabab commented on #280
The data field would be event specific data, sorry for not mentioning that. For example if we want to track where exactly somebody clicked on the search button to give a silly example. The table is meant as being append-only, so a count would be deduced by counting the records, or in the processor (which I would call something like EventStatisticCollector, EventAggregator or something among those

[2018-03-09 09:48] digi0ps commented on #301
Hey @oliversauter.  Few questions.

In this issue, you have mentioned that we should be storing comments locally.

But your comment in PR #317 confuses me.

 Annotations that are made on the same source/selector but by multiple authors should be multiple annotations.

If we are taking multiple authors into consideration, we would first need to way to identify users (like creating an account first

[2018-03-09 09:51] oliversauter commented on #301
This was just a comment to clarify the structure of annotations > to basically rephrase what Randall has been saying.
For now, we only have one author, the user himself, so everything is stored locally and no need to have a signup right now. So everything is the first case:
"Annotations that have the same source/selector and author should have multiple bodies."

However later, when sharing functio

[2018-03-09 09:54] migom6 commented on #301
As for now, we are focusing on a single user. There can be multiple comments for a single selector.
We will be using dexie js for storage, not pouch db, and everything will be done locally.

[2018-03-09 10:00] digi0ps commented on #301
Got it thanks!

[2018-03-09 12:28] paras7735 commented on #265
Hey @oliversauter
I have made a first draft of the proposal for Read it later list.
Please Review it.
https://docs.google.com/document/d/1CIjjeZl6FpE9xbGlI7z96CgEDKydpQPDLFgrKSkUkfE/edit?usp=sharing

[2018-03-09 17:14] oliversauter opened #328 "Discussion PRO/CON Native/Server Version"
In the past weeks we talked about a native version for Mac/Win/Linux a couple of times.
In this issue I want to lay out, and collect, the Pro's and Con's of working first on a local version or the (self-hostable) server software (Memex Cloud).

## Native Version
It would first and foremost function as a backup database for the extension, and enable a Dat node to be hosted.

### Initial version rou

[2018-03-10 05:01] poltak commented on #328
I think the most important thing is getting confirmation on the current state of this in web exts - it's still an unknown from last time we looked into it. We've seen that, in the latest Chrome and FF, that unwanted storage deletion behaviour can be overridden in web apps [via Web APIs](https://developer.mozilla.org/en-US/docs/Web/API/StorageManager/persist), given some usage permissions condition

[2018-03-10 05:25] arpitgogia commented on #328
*I'm for the native version as well*
Though a server sounds like the most usual way of solving the backup problem. The native version can help us exploit the DAT project and all it's benefits. As a basic backup option, we can use Dropbox or Google Drive or something like that for backups. That will not be very difficult to implement.
The fact that multiple browsers can feed into the same app is ve

[2018-03-10 07:55] tilgovi commented on #328
Firefox is planning to ship support for dat in extensions: https://blog.mozilla.org/addons/2018/01/26/extensions-firefox-59/

[2018-03-10 07:58] tilgovi commented on #328
That doesn't mean that Firefox will implement it, and I'm not sure it helps any use case for WB, but the suggestion is that extensions could implement the protocol.

I guess maybe I am talking about a different problem. Just because you implement dat in an extension doesn't mean that the extension has a local place to replicate dat data.

I think I see the purpose of the native messaging, then, an

[2018-03-10 08:07] arpitgogia commented on #280
@oliversauter as mentioned before, is this still going to be a separate module in itself?

[2018-03-10 11:44] oliversauter commented on #328
Thanks so much for you input folks!

@poltak

A message I got from @bigbluehat about this is was that "at the moment it doesn’t look like browsers can be trusted for this stuff [persisting data]...yet. At least not completely."

Both. It is somewhat optional, as you CAN use the extension fully without the need for the native version. But you run danger losing your data because of the eviction prob

[2018-03-10 12:57] bnvk commented on #328
There's strategic rational behind go / please / stay / support *where the users currently are*. If you're trying to create radical tech + change that strategy quickly becomes a ball and chain.

![ball-and-chain](https://user-images.githubusercontent.com/48677/37242255-1ec62390-245e-11e8-9f8e-385eb3ed62e6.png)

Mozilla's support of DAT in extensions is a significant boon to the next gen of p2p apps

[2018-03-10 23:44] oliversauter commented on #328
Thanks @bnvk for taking the time to share your views.
Ever since we spoke in summer, I worked with them to design a sustainable system.
Your words were a helpful reminder on the importance of building an open and collaborative system, instead of an excluding and proprietary one.
I support your views towards progressing open-source software, one of the reasons WorldBrain/Memex is open-source.

In t

[2018-03-12 06:28] poltak opened #329 "Move `cron` package usage to native web ext `alarms` API"
We're currently using [`cron`](https://www.npmjs.com/package/cron) package to schedule checks every hour to determine whether our special activity and install events are sent to our analytics server.

There's already a web-ext specific way to schedule this checks via [`alarms` API](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/alarms), which doesn't use `setTimeout` and similar web

[2018-03-12 23:36] oliversauter commented on #328
Adding a few thoughts after the conversation with Samir about this topic.

Through the conversation it became clear that there were 3 underlying challenges to solve that were not entirely explicit.
Eventually we need to solve these issues together, with the server, a local version or something else (or in between). Do you folks have ideas on how we can solve them?

**The challenges:**
1) We need t

[2018-03-13 06:54] poltak opened #330 "Remove existing text transformations"
We've recently talked about removing certain text transformation stages that we do in our page text preprocessing.

The current things we do are outlined here (no need to understand the code; all the separate things we do to the text are in plain English from that line down):
https://github.com/WorldBrain/Memex/blob/master/src/util/transform-page-text.js#L75

Should be fairly easy to just remove s

[2018-03-13 10:00] oliversauter commented on #330
Looking at it, those seem to be about right for me.

[2018-03-13 14:47] ShishKabab commented on #328
I agree that we have to resolve this situation as early as possible. Part of me is trying to identify the code that can be shared between browser, server, and local server. On the other hand, I seem to recall that we wanted Memex cloud to store everything encrypted, right?

Aside from the costs to produce this solution, two things worry me: UX and mobile. If we want the local server to also run on

[2018-03-13 14:54] arpitgogia commented on #328
@oliversauter I'm strongly for this idea. Till we have a concrete backup strategy this is the best alternative. And I'm quite sure this won't require much effort.

[2018-03-13 15:17] BigBlueHat commented on #328
[Plex](http://plex.tv/) is an interesting one to examine. Here's an extension I've found (though I've not tried): https://addons.mozilla.org/en-US/firefox/addon/web-to-plex/?src=search

It uses a remote endpoint to discover servers and then access them (via IP + port # addresses) to confirm ownership of movies as you browser imdb.com etc.
https://github.com/SpaceK33z/web-to-plex/blob/master/src/op

[2018-03-13 15:25] ShishKabab commented on #328
Scrap the idea of WebRTC for DAT  :(  They've found that the performance is not enough, so they don't want to focus on that until performance is improved...

[2018-03-13 18:24] oliversauter commented on #328
@ShishKabab

Yeah. Encryption, at least on the remote server is a *must*.

Why do we need to have a local server run on mobile?
Do we really need to take this into on that right now?  What are the reasons for that?
In my mind at least, the mobile versions only would be clients that fetch/put data from the server of a user.
Reason a: At some point we also still need some sort of incentive for peopl

[2018-03-13 19:10] tilgovi commented on #328
And if they don't, they can run whatever server offering you develop as an alternative. I am not sure putting effort into client-side encryption for data stored in Dropbox and Drive is worthwhile.

[2018-03-13 19:11] oliversauter commented on #328
Really good point. You wouldn't use these services as a backup, if you really cared about privacy. :)

[2018-03-13 20:43] oliversauter commented on #328
Not sure if I completely got that and not sure which questions to ask to clarify, except for can you give that another try? :)

[2018-03-13 21:05] BigBlueHat commented on #328
@oliversauter yeah...that was a bit overloaded for one sentence. 😄

If you store visits in Dropbox, then why implement search? or annotation? Dropbox has those.

Conversely, if you're implementing search and annotations (in a unique way: decentralized, standards based, not-trackable, etc), do you want to store that content and annotations in something that provides the identical service but under

[2018-03-14 08:34] ShishKabab commented on #328
@BigBlueHat While you could bend those tools to search, annotate and share, it's about the final UX. WorldBrain allows users to easily do those things in their daily flow while having a unified network in which to share, follow and discover people and content, which is not what these storage tools are for.

[2018-03-14 08:59] oliversauter commented on #328
Yes, I see the conflict of storing it on GDrive or Dropbox and it gives me a slight headache. I am not all too comfortable with going down that route, but it would with easy steps eliminate the persistence problem, at least temporarily until we found a better solution.
We could also store the data either encrypted or in a format not usable for those services.

But yeah, ideally we would not need t

[2018-03-14 09:10] oliversauter commented on #328
@BigBlueHat From the great great article you shared:

[2018-03-14 09:20] ShishKabab commented on #328
True, was kind of a leap of thought, and it indeed it doesn't have to. This means we offer no mobile functionality whatsoever in the free version, right? It makes sense on the one hand, but on the other hand it kind of makes me think how many people want to get familiar with WorldBrain first through their computers.

Yeah, trial is not the right word. Let's think about it.

I think that as long as

[2018-03-14 09:25] oliversauter commented on #328
I think it is partly due to a focus in our target group. The people we are working with first, mainly do their research on the computer, mobile is complementary.
Through an integration with pocket, people could at least save their stuff from mobile (and read it later as well) > search not yet.

[2018-03-14 10:37] ShishKabab commented on #328
True, that'll help, at least for the initial phase. Later, mobile could become a bigger entry point, when people become interested to verify articles they read while traveling. But since our initial target audience has these characteristic, I'm OK now with considering the desktop as the main entry point.

[2018-03-16 10:35] bluesun commented on #330
LOOK AT THE FILTERS

Notes on filters:

— removeUrls

we can remove the URLs for now, but later they might be very interesting! (for example to show contextual pages to the search — a search on a page with mydomain.com could show in the context pages having this domain or URL as link)

— // Splits words with - into two separate words
// Example "chevron-right", "chevron right"
    searchableText =

[2018-03-16 11:42] oliversauter commented on #330
We might actually want to just store them to the page as a new field "related urls?"

Good idea

I see the problem with email adresses, so @ might be a good one not to remove. What other use cases do you have in mind that are lost?

Is storage is the right problem to view this from, or rather speed of indexing/searching?

[2018-03-16 14:49] bluesun commented on #330
Actually, removing filters will perhaps even increase the speed of indexing, because running the regexp on each term might cost more then indexing superfluous terms.

Speed of searching will decrease just a bit.

Quality of searches will improve.

The only issue is: are we indexing garbage? Not because it is in the text but because we might get more then the text we want and index garbage. That mi

[2018-03-17 19:30] Treora commented on #328
Nice to read people's thoughts on system architecture here, something that I have been pondering about a lot too. I'll blurt out some thoughts..

About the persistence of data in IndexedDB: The mentioned [MDN page](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_storage_limits_and_eviction_criteria) is mainly intended for websites, as @poltak already noted. I'd hope a browse

[2018-03-18 22:08] oliversauter commented on #330
This seems like something that we could look at as improvements?
We can always refine our filter process later, and clean the db of such terms, right?

So how about we just leave a lot more in now, and if the search performance should get worse, we can think about more precise filtering?

[2018-03-19 03:53] poltak commented on #330
I have added in support for emails (and things like "@mentions") and deriving words from anything hyphenated.

this sounds cool if we want to integrate this type of filter into search. Will just need an extra index on our Pages.

Terms search should take log time relative to # indexed terms, so I do not expect any noticeable impact on search speed as we won't be growing the input size by that much

[2018-03-19 07:50] bluesun commented on #330
I would remove only “punctuation stuff” that is used to separate terms and phrases.
Meaning only dots and white spaces (all kinds of spaces).
And keep the whole rest.

[2018-03-19 22:14] #193 closed

[2018-03-19 22:20] #56 closed

[2018-03-19 22:20] #57 closed

[2018-03-19 22:20] #68 closed

[2018-03-19 22:20] #70 closed

[2018-03-19 22:20] #102 closed

[2018-03-19 22:20] #112 closed

[2018-03-19 22:20] #140 closed

[2018-03-19 22:20] #143 closed

[2018-03-19 22:20] #156 closed

[2018-03-19 22:30] oliversauter commented on #330
Meaning only dots and white spaces (all kinds of spaces)

, : ; ! ? as well?

How about we see what kind of garbage stays in the index once we let it run over 10k document and then see what NEEDS to be removed?

[2018-03-20 03:19] poltak commented on #330
Alright I removed a lot of stuff from our non-words pattern (used for the punctuation stuff), leaving basic symbols (` /[\\!"#(),./:;?[\]^_``{|}~。（）ㅇ]/`), although seems like a lot more trash now gets through.

You can `git checkout 405e16ab` to try with those changes, comparing to commit 85d2197d. Terms reverse index can be browsed via Chrome dev tools -> Application tab -> Storage sidebar -> Ind

[2018-03-20 09:55] ShishKabab commented on #272
Talking with @oliversauter and @subrat (what's his nick here?), we've established the following things are important to keep in mind:
- Being able to search in lists with all existing filters (tags, terms, etc.)
- When using time-based filters in lists, it must filter on the time when it was added to the list, not to the index
- Only for the read it later list it makes sense to store whether it wa

[2018-03-20 10:02] oliversauter commented on #272
Adding: A page can belong to many lists

Is this covered with: 'ListEntry <-> Page: many ListEntries linked to many Pages' ?

Good idea, no need to produce additional complexity and keep it simple.

[2018-03-20 10:06] ShishKabab commented on #272
Actually I made a mistake there, or rather didn't specifify enough. A ListEntry is a link between a list and a page. So a page has many ListEntries. There's only one page per ListEntry, but many ListEntries linking Lists to Pages, therefore a Page can belong to many lists, but we have an individual insertion date for a page into every list. Does that all makes sense?  ;)

[2018-03-21 10:55] ShishKabab commented on #272
On Slack there was a discussion regarding the overlap between the code and data models of Custom Lists and Read It Later. My recommendation is to keep the two models, List and ListEntry, while making the RIL list just one list with a special name. The reason for this is that there are some important functionalities shared between the two of them:
1) Adding/removing from list
2) Searching in a list

[2018-03-23 08:34] dzmitry-lahoda opened #338 "Pricing clarification"
Where is source of https://worldbrain.io/ to move issue to?

Go and see https://worldbrain.io/pricing/

![image](https://user-images.githubusercontent.com/757125/37818689-23443c44-2e8c-11e8-974f-a770f06ea24a.png)

When click then:

![image](https://user-images.githubusercontent.com/757125/37818724-3f547bc4-2e8c-11e8-8346-55e68fa3a036.png)

45 or 10?

It is VERY unclear for is
![image](https://user

[2018-03-23 10:24] dzmitry-lahoda commented on #328
Current extension web storage could be deleted-evicted and do I loose my Memex data, as of now? What is lost and was is retained? E.g. I have Firefox bookmarks and history are synced by Mozilla. I will install Memex and it will re import these again? So I have partial backup? If eviction was somehow fixed by web APIs and no eviction happens, my data is not synced onto my other Memex now? I have on

[2018-03-23 10:27] dzmitry-lahoda opened #339 "Sync Firefox and Memex tags"
1. Bookmark in Firefox
2. See Memex got bookmark.
3. Tag Firefox bookmark
Expected: Memex gets same bookmark.
Actual: Memex does not get bookmark.

![image](https://user-images.githubusercontent.com/757125/37824437-a8668696-2e9d-11e8-83d3-cf17a2c97fab.png)

![image](https://user-images.githubusercontent.com/757125/37824445-b1b84266-2e9d-11e8-92a7-4758fbf8aa80.png)

[2018-03-23 10:35] dzmitry-lahoda opened #340 "Be indicative about bookmark status in Firefox"
1. Bookmark page.
Expected: Memex icon gets indication about state of page inside Memex ( boomakred, indexed, saved offline)
Actual: Nothing happens.

![image](https://user-images.githubusercontent.com/757125/37824796-e09b735e-2e9e-11e8-8342-e8a81250d943.png)

[2018-03-23 12:19] oliversauter commented on #340
Thanks @dzmitry-lahoda for leaving your suggestions here. :)

Great idea. I'll add this as a beginner task, as it should be relatively easy to implement.

Just to understand your motivations for that better:
1) In which situations do you want to have this information? What makes it easier for you?
When you revisit the page and want to know what you have already done on the page? Or other situation

[2018-03-23 12:37] oliversauter commented on #338
We have not had many issues yet, so here is a good place, thanks for posting!

We are currently having a presale where we offer 75% off the yearly price.
Changed the pricing page. Better now?
Not sure if you fully scrolled down? There we explain it better than only "SelfHost Everything"
Is that good?
<img width="956" alt="screen shot 2018-03-23 at 13 36 09" src="https://user-images.githubuserconte

[2018-03-23 12:51] dzmitry-lahoda commented on #338
Thanks! For pricing it much more clear now. It was in the end of page I guess.

Good descriptions of self hosting and clarifying, but problem still exists regarding `Self-Host Everything` in table. The problem is with line in table - i.e. only one check box outlined, while it would be much more clear with 3rd column to check each point checked as with cloud, and instead price would be `You run it

[2018-03-23 13:04] dzmitry-lahoda commented on #340
Seems yes. When I visit page I want to know if I have consumed it already (i.e. I know what it is about and should not reread to get hint - I was here before).  So I may skip reading it again.  And essentially all bookmarking-annotation engines I have tried work that way by indicating with color.

I guess there is huge room innovation - colors and different visual schema of icon do expand to much

[2018-03-24 12:54] 090max commented on #301
I would like to work on this issue

[2018-03-24 14:37] migom6 commented on #301
Hi @090max ! I am working on this issue. Let me know if I can help with this
Thanks 😄

[2018-03-24 14:45] 090max commented on #301
Ya, I actually need help as I am first time working for gsoc and wanted
help on what can we do in this comments and annotation that proves suitable.

On 24 Mar 2018 8:07 p.m., "Madhurjya Pegu" <notifications@github.com> wrote:

[2018-03-25 15:58] oliversauter commented on #301
@migom6 thanks for jumping in to clear up the situation.

@090max
unfortunately it is now too late to apply for GSoC.
The deadline is on the 27. and it is expected to flesh out a proposal for the summer project until then and bring first code contributions.
The students we are going to work with this year have been in contact with us for over 1 month in order to deeply understand the work that nee

[2018-03-25 16:03] oliversauter commented on #340
I see, yeah we need to think through properly, how to implement this feature, and what information makes sense to abstract there.

Seems like maybe a simple icon for 'is bookmarked' would be enough as a first step.
I like the idea though to also indicate when it has generally been read before.

Just want to get clear about the expectations on the finishing of that feature.
It is currently not a pr

[2018-03-26 20:16] Paarmita commented on #158
@poltak @oliversauter I would like to fix this up. In what section is this feature be implemented, could u please give some more detail on this?

[2018-03-27 02:21] IvenTan0412 opened #341 "Runtime error: "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.""
If reporting a bug:

1. **Can you describe the problem and bug in more detail?**

1. **How can we replicate the issue?**

1. **Expected behavior (i.e. solution)**

1. **Error stack (from extension crash page)**

1. **Other comments**

[2018-03-27 04:18] poltak commented on #158
Hey @Paarmita. Thanks for the interest in this. The current implementation of the date pickers should be all in [`src/overview/components/DateRangeSelection` module](https://github.com/WorldBrain/Memex/blob/master/src/overview/components/DateRangeSelection.jsx) and makes use of [`react-datepicker` package](https://www.npmjs.com/package/react-datepicker). Let me know if you have any questions.

[2018-03-27 06:13] Paarmita commented on #158
@poltak So in order to open calendar on click can I use [react-input-calendar](https://www.npmjs.com/package/react-input-calendar) package?

[2018-03-27 06:25] poltak commented on #158
@Paarmita It's already being used and working well - probably wouldn't need to interact with it much (just for reference as you go through the existing code). The main task would be changing the behaviour inside that `DateRangeSelection` class to work as specified in the OP.

[2018-03-27 08:20] jbmorgado opened #342 "Can't access Memex search from address bar or search bar on Vivaldi"
1. __Can you describe the problem and bug in more detail?__
Trying W+Space or W+Tab on Vivaldi doesn't access Memex.

2. __How can we replicate the issue?__
Install Memex extension on Vivaldi and try to use it in the search bar.

3. __Expected behavior (i.e. solution)__
When pressing W+Space or W+Tab should start a memex search like in Firefox.

4. __Error stack (from extension crash page)__
...

[2018-03-27 10:21] dzmitry-lahoda commented on #340
I see. I just look at Memex as better Diigo. Diigo starts from replacing bookmarks (with tags, descriptions), making them cross browser, then goes to search and archival. Replacing bookmarks includes indicating that bookmark was done. I can even "Remove from address bar" of default bookmark button. I.e. they pave friction free wave from bookmarks to something `better`(they way they built it for me

[2018-03-28 03:00] tctara commented on #216
Hi @oliversauter, I'd like your opinion on how to solve this bug. Here's what I found so far:

- When you bookmark(without visiting) "no searchable content" pages, they're also included in the blacklist & delete counter
- In both cases, "no searchable content" are thrown from the pipeline but aren't handled
- In both cases, index stubs are stored in the DB. I've narrowed the Import case to this [l

[2018-03-28 06:49] poltak commented on #216
@tctara Thanks for your in-depth look at this. Currently we're actually reimplementing the entire index data layer, and the way the blacklist delete counter works has changed as a result. This problem should be fixed as we roll out the updates (will make sure to test these cases specifically and see if problems with the new version).

Fixes for the current codebase is also welcome, if you have any

[2018-03-28 07:27] tctara commented on #216
@poltak thanks for the input.

I might be confused about the terminology as to what is inserted into the DB, but I can easily find them in the __doc_id_rev_ section of the pouch DB.

I understand that bookmark and imports are two different features. I was trying to point out the fact that, in both cases, they run very similar logic:
- added to the index queue for processing,
 https://github.com/Wo

[2018-03-28 11:55] oliversauter commented on #342
hey @jbmorgado

Sadly, Vivaldi does not support this feature, as they don't provide the respective API endpoints :(
As soon as that changes, it will automatically be supported to also search via the address bar on Vivaldi.

[2018-03-28 11:55] #342 closed

[2018-03-29 03:11] poltak commented on #216
I see what you mean. I think I understand what may be happening. In the current version we have data split between two DBs (PouchDB and raw IndexedDB) - result of poor design choices previously. The `index.addPageConcurrent` call adds the main searchable page data to IndexedDB, while the `db.bulkDocs` call adds non-searchable display data (for that same page) to PouchDB.

The "no searchable conten

[2018-03-29 05:48] poltak opened #344 "[dev] Build pipeline has become very slow"
Put a thing in #dev on slack recently about this. Putting here for future discussion and so it doesn't get buried.

Slack: https://worldbrain.slack.com/archives/C89BPUM5Z/p1522218451000219
Quote:

[2018-03-29 07:47] #281 closed

[2018-03-30 03:21] #329 closed

[2018-03-30 14:00] dzmitry-lahoda opened #350 "Add Memex results into Duckduckgo search as with Google"
![image](https://user-images.githubusercontent.com/757125/38140282-c8d312ac-343b-11e8-93e7-13e8f86fcbcb.png)

![image](https://user-images.githubusercontent.com/757125/38140277-c321c1be-343b-11e8-8a43-360f009079ff.png)

DuckDuckGo is closer to ideals of Memex than Google or Bing.

[2018-03-30 14:18] oliversauter commented on #350
Hey @dzmitry-lahoda

Yes that is true, however most users still/will use Google, and thus supporting DuckDuckGo as the first option is not a good idea strategically.
We first wanted to get the feature out for one of the search-engines, to then make it easier to add the others.
Means: Now it is really easy to add DuckDuckGo and others as well.
Contributions to make that work on DDG are more than we

[2018-03-30 14:32] dzmitry-lahoda commented on #350
I understand, just framing my use of Memex from enterprise companies.

As of now my company and my customer do not have enterprise wide search build in, but dozens of search boxes there and there. Frequently I search in both inside and outside company same time. And it so freaking awesome when I search in Google and find pages from withing my enterprise I have ever visited. More privacy oriented s

[2018-03-30 14:34] oliversauter commented on #350
Definitely :) Also to note, that Google does not know about that injection, it is all clients side.

This is a great idea! will immediately open an issue for that :)

[2018-03-30 14:50] oliversauter commented on #350
This will always be the case. We can't replace the standard search provider without a server unfortunately. Limitations of the browsers.

Also none of the search engines (to the best of my knowledge) offer an API that allows us to fetch results and display them in a style we want.

[2018-03-30 14:50] oliversauter opened #351 "Route to search-engine in case of "no results""
Got a great suggestion by @dzmitry-lahoda in [this comment](https://github.com/WorldBrain/Memex/issues/350#issuecomment-377536692).
When searching with `w`+`space` in the address bar (and also in the overview) does not give back any results, we could let people automatically also search their standard search engine (google, bing, DuckDuckGo)

This means we would replace the first result in this li

[2018-03-30 19:11] heliostatic commented on #350
Here's a stab at adding DDG: https://github.com/WorldBrain/Memex/pull/352

[2018-03-30 19:49] oliversauter commented on #350
Hey Ben,

Thanks for taking matters in your own hand.
That's the spirit! :)
I tested it but, probably related to @digi0ps's comment, it is not working yet.
But you already got the right person on your hand helping you getting it working.
He is one of our potential GSoC students who built the entire Google feature as his preparation project.
Big Kudos! :)

After testing your second update, I am won

[2018-04-02 08:25] ShishKabab commented on #236
I've been doing some research on the Direct Linking feature and the code that already exists. So far we wave the server created by @blahah to be found in https://github.com/WorldBrain/direct-linking-server and a direct linking client cloned and modified from the Apache incubator-annotator repo.

The current direct linking server consists of a Node.js/Express server that seems to be meant to be dir

[2018-04-02 12:53] subrat-sahu commented on #273
Hey @oliversauter.
After some research and discussing it with @poltak we came up with the following ideas.

1.   Keep default set of shortcuts for all the above use cases for users in both chrome and FF.
2.   Users in chrome will be able to change the shortcuts by going to [chrome://extensions/configureCommands](chrome://extensions/configureCommands) where as the users in FF cannot change the defa

[2018-04-03 06:48] poltak opened #357 "Overview styles look very bad on FF"
Seems to be mostly font sizes. Hover animations also do not work on the result items. Alignment of elements in the filter dropdown could be greatly improved as well (although it's the same in Chrome).

![screen shot 2018-04-03 at 13 42 31](https://user-images.githubusercontent.com/1130716/38233537-039c5158-3745-11e8-8094-4f903e29eabf.png)

May be of interest to whoever ends up doing #286

[2018-04-04 22:31] oliversauter opened #360 "Query logic of regular search engines in Memex"
There are a few query logics that you can use in regular search engines, that we might wanna copy for interoperability reasons, and also to let people quickly search in google without changing the query.

For starters we could support:

site filters: `site:google.com,yahoo.com` > slightly different, but would allow to filter for multiple sites
minus filter: `house -garage` excluding words and doma

[2018-04-05 15:34] #357 closed

[2018-04-09 08:02] ShishKabab commented on #236
After a number of discussions, we've come to the conclusion that building on the design of hypothes.is for direct linking is not feasible / wise at the time being. Reasons for this are:
* Due to content security policies in browsers, we'd only be able to provide a limited UX that'll be potentially confusing for the user, and potentially not beneficial to content authors (it'd break many interactiv

[2018-04-09 14:42] ShishKabab commented on #236
Dump of tasks:
* DL server: POST endpoint
* DL server: Retrieval of external page
* DL server: Extraction of metadata (title, logo, description)
* DL server: Validation of annotation selector
* DL server: Storage of annotation and metadata
* DL server: Storage of logo (once per website)
* DL server: HTML & CSS for Memex Link page
* DL server: Set up build procedure of client side app
* DL server:

[2018-04-10 03:17] poltak opened #363 "New index migration: moving our existing users over"
We'll update the extension with our new search index implementation soon. When it happens, all existing users will remain on the old implementation while all new users will get the new one. The goal is to seamlessly move all users on the old index implementation over to the new one.

@ShishKabab has started some work on this, which I will get familiar with and continue.

Some reqs:

1. can be inte

[2018-04-10 14:47] oliversauter commented on #363
Thanks for putting your thoughts out here :)

It seems to me as if it is best to build a prototype of this first and then see how we handle the situation afterwards on the UX level.
Would be great to see how it handles, say 5k documents, I assume most people wont have more than 20k documents. If we can write in batches, and not have to handle people indexing in the mean time, we may be fine when i

[2018-04-10 15:05] oliversauter commented on #236
Seems like this is meant to prevent abuse, do we maybe want to do this as a further improvement, but not have it in the MVP state? I don't assume that we will get people spamming us in the beginning. And if they spam us, they produce way more computing power through us fetching the page and checking on each page if the annotation is valid, right?

[2018-04-11 02:07] poltak commented on #363
@oliver basic idea goes:

1. iterate through the old page index:
  1.1. grab all assoc. data:
      - 1 page index doc
      - 1 page display data (in PouchDB)
      - 0-v visits meta data
      - 0-1 bookmark timestamp (already part of index doc)
      - 0-t tags (already part of index doc)

  1.2. feed into new index

Would want to implement step 1 to iterate in batches.
Step 1.1 should include

[2018-04-11 02:42] poltak commented on #363
Another discussion point:

3. decide what to do with errors
  - each page and its assoc. data can be treated as an atom - if any issues, rollback import and continue on; no page should affect any others
  - we could choose to use partial data if certain lookups fail in step 1.1 (eg. we fetch all the page data but visits fail - still store page?)
  - what to do with error'd data? keep track of to t

[2018-04-11 06:41] poltak commented on #363
Base implementation now working. Gave it a bit of a test with a 48.9MB of old index data (~1000 pages) to get a feel of how long it's going to take. Main variable is how many pages we decide to be processing at any time/concurrency, so arbitrarily picked 10, 20, 30 to see how they would differ. Not by much, which probably makes sense as it should get bottlenecked by however the browser manages all

[2018-04-11 13:43] ShishKabab commented on #236
Yeah, let's keep this for later, good idea  :)

[2018-04-16 03:54] wjjlsy opened #365 "Runtime error: "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.""
If reporting a bug:

1. **Can you describe the problem and bug in more detail?**

1. **How can we replicate the issue?**

1. **Expected behavior (i.e. solution)**

1. **Error stack (from extension crash page)**

1. **Other comments**

[2018-04-16 08:04] oliversauter commented on #365
Hey @wjjlsy :)

Thanks for signing up just to report this issue!

To understand this better I'd appreciate if you took the time for some additional questions:
1) After seeing this error, did anything not work as expected?
2) when did it happen? What was the action you did?

Cheers
Oli

[2018-04-16 08:53] SakenW opened #366 "Runtime error: "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.""
If reporting a bug:

1. **Can you describe the problem and bug in more detail?**

1. **How can we replicate the issue?**

1. **Expected behavior (i.e. solution)**

1. **Error stack (from extension crash page)**

1. **Other comments**

[2018-04-16 21:26] oliversauter commented on #366
Thanks for reporting as well. This is a duplicate of #365, so I'll close this to simplify things.

[2018-04-17 06:33] poltak opened #367 "Deciding on a better git/release workflow"
We've touched upon this a few times in team discussions but we've not really looked into and discussed different options yet.

The current workflow works somewhat like: treat `master` branch as the main source of truth, getting contributors to fork off into feature branches which they manage keeping in-sync. Most branches get merged straight into `master`, once we're happy with the changes, and de

[2018-04-17 06:43] poltak commented on #344
There seems to be a lot of progress and examples out there now of using webpack for building web exts, compared to when we looked at this about a year ago. MDN has a nice example setup on their github: https://github.com/mdn/webextensions-examples/tree/master/webpack-modules

This guy's project even claims to enable hot-reloading for in Chrome with webpack 🤤 :
https://github.com/rubenspgcavalcante

[2018-04-17 06:52] poltak opened #368 "Keeping track of previous search state"
Once new search index is pushed out, I think one the first big future enhancements we could do would be to keep track of previous search state. This would allow us to take a lot of shorcuts and implement optimizations by comparing changes between current and previous search parameters and determining if we can skip certain logic or re-use prev. search results.

Some obvious examples:
- pagination:

[2018-04-17 07:57] ShishKabab commented on #367
Brain dump time! First, I'll jot down my wishlisg:
* I want to have a history of all released versions as branches
* I one command to release a new version I manually specify that does everything automatically (except for submitting the source code to AMO, which needs to be done manually, but it should tell me that with a not-so-gentle reminder with !!CAPS!!.)
* I want to have one special branch t

[2018-04-17 10:58] oliversauter opened #369 "MTNI-1 ⁃ test"
test

[2018-04-17 10:58] oliversauter opened #370 "test"
test

[2018-04-17 10:58] #370 closed

[2018-04-19 13:01] #369 closed

[2018-04-19 13:20] oliversauter opened #371 "test"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

2. __How can we replicate the issue?__

3. __Expected behavior (i.e. solution)__

4. __Error stack (from extension crash page)__

5. __Other comments__

[2018-04-19 17:12] #371 closed

[2018-04-19 17:12] #366 closed

[2018-04-19 17:13] #350 closed

[2018-04-19 17:14] oliversauter commented on #341
Thanks for reporting as well @IvenTan0412

Its a duplicate of #366, closing therefore. Just to note, it is not a critical bug.

[2018-04-25 09:52] poltak opened #378 "Adding redux support to Sentry error tracking"
I've used this redux middleware before to get redux UI state dumps included in tracked Sentry errors:
https://github.com/ngokevin/redux-raven-middleware

That was ~2yrs ago. There is also this one now, and maybe others to look into: https://github.com/captbaritone/raven-for-redux

[2018-04-26 03:25] allanrong opened #380 "Runtime error: "Cannot read property 'remaining' of undefined""
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

2. __How can we replicate the issue?__

3. __Expected behavior (i.e. solution)__

4. __Error stack (from extension crash page)__

5. __Other comments__

[2018-04-26 09:47] oliversauter commented on #311
Is this fixed with one of your recent PRs @poltak?

[2018-04-26 12:38] poltak commented on #311
No changes from me. I don't think any changes have been made to popup code for quite a while.

Sent from my iPhone

[2018-04-27 03:43] 100ideas opened #382 ""horrible error" 3x - Memex v0.2.2 not working in chrome"
__Can you describe the problem and bug in more detail?__

- worldbrain searches do not return anything, just spinning "three bouncing balls / I'm thinking" animation.
- Clicking "Add Tag(s)" in the extension button drop-down menu opens input dialog but autocomplete does not work, saving button does not work.
- extension console prints three "Horrible error" Events every time a page is loaded in a

[2018-04-27 04:00] 100ideas commented on #382
Possibly related to #363 ?

---
Update: built and loaded the Memex extension from this repo (master branch, v2.2.2). It is working, but (as expected) the index is empty.

[2018-04-27 04:58] poltak commented on #382
Thanks for reporting here @100ideas. This is an error we've seen pop-up a few times in the past few months, however we sadly haven't been able to find much useful information to make an immediate fix from our side.

Our past looking into this keeps leading us back to issues with PouchDB with Chrome (a wrapper around IndexedDB), which we are using to store certain data if you have an extension vers

[2018-04-27 08:55] ShishKabab commented on #367
Yeah, also like GitFlow, and personally didn't experience any problems with it.

Keeping the release branches indeed don't make a lot of sense for now. It may become relevant when we distribute Memex Cloud and distros may choose to lock versions to a certain minor release, so we'd have to backport security fixes to past minor releases. But I'd like to avoid this kind of situation anyway, since I'd

[2018-04-30 03:34] poltak commented on #311
@oliversauter Yes, I don't really think this is a big concern as it affected other extensions rather than only memex. We can reopen if any more info about it comes to light

[2018-04-30 03:34] #311 closed

[2018-04-30 03:51] poltak commented on #367
I like this.

[2018-04-30 07:40] ShishKabab commented on #367
So, is it official @poltak and @oliversauter , do we decide to implement GitFlow?  ;)

[2018-04-30 10:16] oliversauter commented on #367
+1

[2018-05-03 18:17] oliversauter opened #383 "Bookmarks are not filtered correctly"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
Applying bookmark filter and time filter sometimes causes results not to appear, even if they should
http://recordit.co/fQWjRQsZa5

2. __How can we replicate the issue?__
1. Apply a bookmarks filter
2. Apply a time filter
3. Find a compare both views and look if a result should be appearing in this time frame
4. It is

[2018-05-03 18:29] oliversauter commented on #330
How did we now progress with this?

[2018-05-04 01:25] allanrong opened #384 "Runtime error: "Cannot read property 'remaining' of undefined""
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

2. __How can we replicate the issue?__

3. __Expected behavior (i.e. solution)__

4. __Error stack (from extension crash page)__

5. __Other comments__

[2018-05-04 02:07] poltak commented on #383
I have to speculate, as I cannot tell much from the videos, but this seems like the same issue reported by @mukeshkharita [in this comment](https://github.com/WorldBrain/Memex/pull/364#issuecomment-381129025). That was concluded to be more of a case of unexpected behaviour from user POV (bookmarks act as flags for a given page), although expected from the implementation/data side (bookmarks act as

[2018-05-04 02:29] poltak commented on #330
Lots of things changed in commit 303bc4f6cca6bdfd2584f4cc2c886b78cd4cb41b (commit message contains much more details):
- removed filtering-out of terms with repeating consonant (eg: 'hellllllo' is now ok)
- removed filtering-out of terms with digits (eg: '7eleven' is now ok)
- fixed some bugs with term separation (some sneaky uncommon whitespace chars we weren't covering)
- derivation of new terms

[2018-05-04 07:39] oliversauter commented on #360
I think the 2 most common use cases are excluding terms and domains, less so tags.
So if you have to prioritise, i'd go for terms and domains.

Tags would be good to have boolean searches, so to say either i want all tags to be in the page (and) or only some of them (or).
It is a very big feature I was missing in Pocket, where you always only could choose to make an `or` search.

Is the following

[2018-05-04 07:41] oliversauter commented on #383
No they have been bookmarked outside of the filter. It is almost certainly correct then.
However the last time stamp is weird then, i assume it is the import date, as I didnt visit the page on 27th of April, but i think it was the day i ran the importer
Does our current implementation search over every time stamp of the page?
If yes, does the time stamp then change in the result based on the filte

[2018-05-04 09:56] poltak commented on #383
Yes both of those behaviours **should** work like this. The displayed time should change as you filter down via the end date filter: it should show the latest bookmark or visit time that is <= the end date filter time (actual time shown in URL state).

Currently, if the bookmarks filter is checked and there is a visit later than the bookmark, it still shows the later visit time as display; this sh

[2018-05-04 10:18] ShishKabab commented on #236
The whitespace on the bottom unfortunately is a trade-off. It's either that, or having two scroll bars, which is in my opinion more confusing.

[2018-05-04 13:33] oliversauter commented on #236
Ok.

## Some other things I noticed:
- [ ] the lines above und under "or" are not aligned
- [ ] the link does not scroll to the annotation in the demo
- [ ] related to the last one, that is why not the first one should be highlighted, but rather one that is somewhere lower, so people see the scrolling ability.
- [ ] The link in the popup should be copied to clipboard, not a (hidden behind the text

[2018-05-06 09:05] oliversauter commented on #236
Got a few other feedbacks on the direct linking:
- [ ] the button "copy quote and go to page" is not clear to people. It should just say "Go to page" and below a text, similar to the CMD+F one, that says "Quote will also be copied to clipboard to search with CMD+F"
- [ ] when clicking on link in iframe, go to new page if possible > dont show the bar anymore.

[2018-05-07 07:57] ShishKabab commented on #236
Ah, OK. Thought we'd leave the scrolling for later  ;)

Right now, I've highlighted the 3rd paragraph. Is that clear enough?

About the link being copied, remember the Slack discussion? Due to the asynchronous nature, it's not possible, or would require considerable effort + inconsistent UX. For now, we show the link (text should be URL), maybe we can also way 'press right click to copy URL. Ratio

[2018-05-07 08:50] ShishKabab commented on #236
Unfortunately, opening links in the iframe in the parent window doesn't seem possible. Normally you'd need to modify the iframe content, which we don't have access too....

[2018-05-07 08:55] oliversauter commented on #236
Found this, the second answer. Would that work?
https://stackoverflow.com/questions/22808065/how-to-make-all-links-in-an-iframe-open-in-new-tab

[2018-05-07 09:41] ShishKabab commented on #236
Nope, since all the answers including the second one involve modifying the iframe content  :(

[2018-05-07 10:13] oliversauter commented on #236
Yeah, i meant something differently though. I meant after creating the link, showing the loading bar until the link is confirmed, then the link in the text field (instead of the text: "This is your link")
Also so we dont have to have 2 different versions for the extension and the demo, I think it makes sense to keep it consistent. However I agree that for the demo, people really just want to see h

[2018-05-07 11:12] oliversauter commented on #236
yeah lets try that :) maybe also having the popup appear centered below the cursor with a little margin to the bottom.

[2018-05-07 16:53] oliversauter commented on #367
So do I understand correctly, that by implementing this we can automatically hook any upgrade to master to an upgrade in chrome and firefox store?

Also, that we use the release branches to make changes to the version number, and some last fixes, once we decide that those have the features we want?
Then we can test on the release branches, and if everything is correct, we merge it into master.
And

[2018-05-08 03:46] poltak commented on #367
This matches my understanding 👍let's make the version number change the first commit on every release branch. Release branches might be named with the same number. `release/0.3.1` for example.

This is out-of-scope of git flow itself, but we could set this up with git hooks I'm pretty sure

[2018-05-08 03:56] #378 closed

[2018-05-08 12:46] devshiva619 commented on #351
Hey @oliversauter I am a beginner and want to contribute to worldbrain. If you could help me a bit I would like to take up this issue.

[2018-05-09 14:35] oliversauter commented on #236
Found another issue with the demo page:
If you try to create a second highlight after you did one, the page hangs itself and crashes after afterwards.

[2018-05-11 06:27] poltak commented on #367
I have pushed a new `develop` branch, forked from latest master. @ShishKabab or @oliversauter if you guys have access to the repo settings, could you set it as a protected branch? I see no reason not to get going with git flow straight away. I can update all pending PRs' base branch to be `develop`, and I am about to update the contrib docs and tell people to fork-off and target PRs to `develop`.

[2018-05-11 11:00] oliversauter opened #389 "Bug with Imports suddenly hanging itself > crashing"
In reference to: https://github.com/WorldBrain/Memex/pull/386#issuecomment-388246065
The problem was that the importer suddenly froze at around 200 pages and then the tab only being able to be killed. No resume.

I let the importer run about 20 times to see where it stopped, and compared all URLs processed with excel to see if has something to do with the url being processed. Even though it is mos

[2018-05-11 11:31] oliversauter commented on #389
Another clue:
when restarting the extension, then continuing the import, the counter does not progress, however in the console, indexing seems to work just fine then.
When searching for the pages that appear in the console, it also works.

[2018-05-11 11:52] oliversauter commented on #389
Another clue:
when cancelling the 'shadow' imports (which run in the background, without the counter moving), and then restarting it by selecting "browsing history" it actually downloads the bookmarks. So weird!

<img width="836" alt="screen shot 2018-05-11 at 13 45 35" src="https://user-images.githubusercontent.com/7870039/39923107-927389e6-5522-11e8-9423-977030a5ba85.png">

[2018-05-11 16:35] mitrafantos opened #390 "Runtime error: "Cannot read property 'remaining' of undefined""
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
Cannot open the settings page of Chrome extension

2. __How can we replicate the issue?__
1. Click on settings - http://take.ms/S99UR
2. Get a settings page crash - http://take.ms/UgZLEU

3. __Expected behavior (i.e. solution)__
Settings should have opened normally

4. __Error stack (from extension crash page)__
TypeE

[2018-05-11 16:56] oliversauter commented on #390
Thanks @mitrafantos for reporting this.
We will look into it asap and let you know once it is fixed.

@poltak

[2018-05-12 02:55] poltak commented on #382
Hi @100ideas. We have recently rolled out our migration update that automatically moves users from our old search implementation to our new one.

While we're still lacking a complete understanding of this issue, we've attempted to build failsafes into the migration process which allow a partial migration if only some of the data can be retrieved. Although as long as you can read from the DB (i.e.,

[2018-05-12 05:35] ataul443 commented on #158
@poltak I understand the behaviour and started working on it. There is a calendar icon already fixed before the _after_ input field. Could u please specify what type of icon or which icon to use?. And for separation of both _after_ and _before_ input fields, there is a tiny _triangle_ icon between them. We can use that icon in place of calender icon to open the date-picker. For separation we will

[2018-05-14 08:45] oliversauter commented on #236
I tried it on http://staging.memex.link/demo/

here is a video. Today it actually got worse, It already freezes on the first try to make a direct link.
http://recordit.co/4AVdoqzPC1

What I did the last time (if I remember correctly):
1) create a direct link by highlighting and clicking "create link..."
2) highlighting second paragraph/text and click direct link
3) hangs itself

I would expect the

[2018-05-15 10:57] oliversauter commented on #236
@ShishKabab @digi0ps

Here some updates on the UI/UX of the tooltip:
![tooltip](https://user-images.githubusercontent.com/7870039/40051066-b1cae3a6-5839-11e8-95e2-411531fedd88.png)

- the grey box with the link should be a regular text field that people could also fully select by dragging dropping, this way we can display the whole link and still keep a reasonable size.
- The `x` should close the

[2018-05-15 15:55] oliversauter commented on #280
Hey @mukeshkharita

I put some thinking into the metrics we want to catch:
1) Retention rate:
- [ ] Measuring how long a specific user has Memex installed. Important to be able to associate install and uninstall to a specific user.
- [ ] What is the global average in time across all users?
- [ ] What are the error messages associated to each user/many selected users? (so we know if they left becau

[2018-05-16 13:13] ShishKabab commented on #236
Just see that a comment I've written didn't get sent correctly  :(

The tooltip looks functional, but something feels off to me. Don't have the in-depth graphic knowledge and language to express this feeling concretely, but there's maybe something about the spacing and differences in line width that makes it feel kind of wrong / cobbled together.

About the name Memex.Link could be very cool. Want

[2018-05-17 17:35] oliversauter commented on #301
@digi0ps

I made some new mockups for the sidebar content to display highlights/comments/annotations

### Notes for Content Types
- We need to keep all time stamps of editing changes for later use. Keep this in mind as you work with the database to store information. This could be to show a edit history, or to be able to filter by times of edit, even if you dont remember the last time, but only a

[2018-05-18 09:15] oliversauter commented on #236
Hey  @ShishKabab @digi0ps

Awesome work with the direct linking stuff. It's taking form and I can't wait to see it in prod :P
I have been testing around on the demo and the direct links and here a checklist of things that still need some work:

- [ ] Demo page is not responsive on dektop and mobile:
![screen shot 2018-05-18 at 10 48 29](https://user-images.githubusercontent.com/7870039/40225329-04

[2018-05-18 13:31] ShishKabab commented on #236
That was to cover the case where the user selects some text inside that region, remember?

[2018-05-18 14:48] digi0ps commented on #236
![image](https://user-images.githubusercontent.com/3889675/40240726-dee20c08-5ad6-11e8-8b73-a8d60fd6ba5e.png)

- Have made the demo page responsive for mobile, forgot to do the "Someone wants to show you" page. Will do it.

- The page gets good after a width of 1050px, and the mobile version comes at below 500px. At tablet sizes ( 500px < 1000px ) it gets congested. Should I keep the mobile design

[2018-05-20 17:18] oliversauter commented on #236
No, help me out :)

Yeah we should have the highlights stick.

## Ran into some issues with the anchoring:
- When visiting [this article](https://www.newyorker.com/tech/elements/the-mission-to-decentralize-the-internet) I can create a memex.link but it does not reanchor when opening [this link](http://staging.memex.link/S19Zp7yk7/newyorker.com/tech/elements/the-mission-to-decentralize-the-internet

[2018-05-20 18:41] digi0ps commented on #236
@ShishKabab fixed the highlight after copy issue.
I will look into why the tooltip is experiencing spacing issues tomorrow. Probably it's some global css override.

[2018-05-21 17:39] oliversauter commented on #236
Quick info to @ShishKabab:

The scrolling position in Memex should also have the same spacing to the top than the demo.

[2018-05-25 13:34] oliversauter commented on #236
@ShishKabab Found a bug:
When going to [this paragraph](http://staging.memex.link/Hyysk5r1X/nytimes.com/2011/10/19/nyregion/new-york-planting-a-million-treestoo-many-some-say.html) in the nytimes article, it only shows you half of the paragraph highlighted. Make sure you have a version with the direct linking ui implemented to test.

Now, try to highlight the whole paragraph, create a link and ope

[2018-05-26 18:58] oliversauter opened #404 "Bookmarks are not sorted correctly"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

When importing bookmarks, they are not sorted chronologically.
<img width="1680" alt="screen shot 2018-05-26 at 20 54 29" src="https://user-images.githubusercontent.com/7870039/40579417-2d4e47a2-6127-11e8-96e9-b56de8b567a6.png">

2. __How can we replicate the issue?__

Install new extension, import only bookmarks, go

[2018-05-29 07:48] ShishKabab commented on #236
Looked in more into the bug. Your first bug is reproducible, didn't try the second case. The selector is generated correctly, with the right quote prefix and suffix, but it doesn't anchor correctly. We need someone to look into the problem using this bug as a reference.

To hack on the problem, one has to check out the `feature/direct-linking-ui` branch of this GitHub repo, with the main code of i

[2018-05-29 10:55] oliversauter commented on #236
@Treora, @tilgovi, @bigbluehat do you have any ideas on how to solve this?

[2018-05-29 18:30] oliversauter commented on #236
@ShishKabab
To another note, i discovered a really annoying work-flow bug:
http://recordit.co/2ecMnz1ptx

When selecting a piece of text, I cant also use the context menu when right clicking. It will then select the word I right clicked on, not apply the context menu to the whole previous selection.
When I remove the tooltip with the small `x` I then lose my selection. (as all seen in the video)

[2018-05-29 18:46] oliversauter commented on #236
Thanks @tilgovi, indeed it was only for the anchoring bug. I was not precise enough. Thanks for the quick reply.

[2018-05-29 21:20] tilgovi commented on #236
You were very clear, I was just trying to be clear, too :).

If there's an anchoring bug I can help with let me know how to reproduce it, @ShishKabab.

[2018-05-29 22:13] oliversauter commented on #236
@tilgovi

To reproduce:
1) Install this extension in chrome [extension 2.zip](https://github.com/WorldBrain/Memex/files/2051405/extension.2.zip)
2) Highlight a paragraph here: https://www.nytimes.com/2011/10/19/nyregion/new-york-planting-a-million-treestoo-many-some-say.html
3) "Create Link"
4) Open Link in new tab
5) See that the Highlight is not completely finished, sometimes half the paragraph,

[2018-05-30 06:49] ShishKabab commented on #236
Hi @tilgovi thanks for getting back to us! Today I'll see if I can get a PR together with a test reproducing the anchoring issues. As for the <script> tags, I understand your point of view. From a convenience perspective, it would be really to have all ranges returned that I can then filter out myself, so I don't have to create a filtered DOM tree, and somehow map that back to the original DOM tre

[2018-05-30 16:24] oliversauter opened #408 "Settings for Indexing preferences"
Because we are launching, and advertising Memex.Link, soon we need to have some more settings for users.
Specifically some users will not want to have their entire browsing history indexed, just because they use a tool that allows them to create those Memex.links.

Therefore we need in the settings a section called "Indexing Preferences"
Text underneath:
"Which pages do you want to make searchable

[2018-06-01 12:11] oliversauter commented on #236
@tilgovi: Quick update:

We solved the bug and anchoring now works properly. Thanks for your offer to help us out tho!

@ShishKabab

Found another anchoring bug:
1) Go to: https://lucid.berlin/
2) highlight & create link to
"As climate change increasingly becomes a growing global concern, the importance of integrating the topic into international relations and foreign policy is no longer an option

[2018-06-01 12:35] ShishKabab commented on #236
Tested it in lots of variations, but does work for me...

[2018-06-01 13:30] oliversauter commented on #236
ok tested again and found the problem.
If you triple click on the paragraph, it adds multiple spaces to the end of the annotation text string.
So it cannot reanchor again.
Maybe removing spaces at the end and in the beginning of each string, before creating the annotation would solve it?

[2018-06-02 03:54] poltak commented on #236
@ShishKabab Found some sort of issue. Created the following link using the build shared in slack #dev channel (Chrome 67.0.3396.62, Windows 10):
http://staging.memex.link/rkx80Oygm/forums.dolphin-emu.org/Thread-dual-shock-4-controller/

Seems to load as expected in a Chrome profile without extension installed (or older build installed).

Loading in a Chrome profile with the same ext build as was c

[2018-06-05 06:35] shivam-tripathi opened #413 "Unable to add bookmarks"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
I am unable to add bookmarks.

2. __How can we replicate the issue?__
I don't know what led to this, but:
* I have most updated version of the extension.
* I am using mac behind chrome.
* I have paused the indexing.
Steps are regular, click on icon, click on the 'star' bookmark.

3. __Expected behavior (i.e. solution)

[2018-06-05 06:38] shivam-tripathi commented on #325
@oliversauter I think the issue has been resolved now, so perhaps we can close it? 😄

[2018-06-05 07:41] oliversauter commented on #413
Hey @shivam-tripathi

Thanks so much for taking your valuable time to report this issue.
Sorry you have been running into issues.

Let me ask you a few question to zoom in on the problem.
1. When did you originally install the extension?
2. Did you disable and enable it again? Sometimes that helps (not deleting it tho)
3. If you have the extension for more than 1 month already, did you see at some

[2018-06-05 07:43] oliversauter commented on #390
This problem should have been fixed with the update to the new index technology.
Closing it.

If problems persist @mitrafantos, please let us know.
Thanks :)

[2018-06-05 07:43] #390 closed

[2018-06-05 07:43] oliversauter commented on #384
This problem should have been fixed with the update to the new index technology.
Closing it.

If problems persist @allanrong , please let us know.
Thanks :)

[2018-06-05 07:43] #384 closed

[2018-06-05 07:45] oliversauter commented on #382
Hey @100ideas

Just wanted to check in if you still experience this issue and if you have had other problems related to the migration?

Hope all went well, and we can close this issue then? :)
Have a good start into the week!

[2018-06-05 07:46] oliversauter commented on #380
This problem should have been fixed with the latest update.
Closing it.

If problems persist @allanrong , please let us know.
Thanks :)

[2018-06-05 07:46] #380 closed

[2018-06-05 07:47] oliversauter commented on #365
This problem should have been fixed with the latest update.
Closing it.

If problems persist @wjjlsy, please let us know.
Thanks :)

[2018-06-05 07:47] #365 closed

[2018-06-05 07:47] #341 closed

[2018-06-05 07:48] oliversauter commented on #325
Thanks for noting yes :)

[2018-06-05 07:48] #325 closed

[2018-06-05 08:17] shivam-tripathi commented on #413
@oliversauter Hi, I installed it a couple of months ago. Disabling and enabling unfortunately doesn't work. I didn't receive any notification of it getting 15x faster. The current version is 0.3.3.
Here's a gif:
![memexgif](https://user-images.githubusercontent.com/9463078/40963630-bd2040aa-68c6-11e8-9656-069503309c98.gif)
As it can be seen, page doesn't get bookmarked. Upon searching a similar st

[2018-06-05 08:30] oliversauter commented on #413
Ok, that already gives me more info. Thanks for the screencast.

#### Next steps:
1. Can you go to the background script of the extension and type in `index.useOld` For that you go to chrome://extensions > details > background page > console
What does it say?
2. In case it says "false", the migration already happened. In this case we need to further investigate. In case it says "true", then it did

[2018-06-05 10:32] oliversauter commented on #363
Closing this as it is finished.

So so so great job @poltak, well done!

[2018-06-05 10:32] #363 closed

[2018-06-05 10:33] oliversauter commented on #367
we now actively use git flow, so I close this now :)

[2018-06-05 10:33] #367 closed

[2018-06-05 10:45] shivam-tripathi commented on #413
@oliversauter It says false. Also, typing in original query (instead of fuzzy one) didn't work either :/

[2018-06-05 13:04] oliversauter opened #414 "A/B testing of Memex.Link"
After we launch Memex.Link, we need to immediately start working on implementing A/B testing for the Memex.Link workflows. This will be our main traction channel and we need to play it well :slightly_smiling_face:

## Goals:
1) Increase usage of Memex.Links
2) Increase conversation of Memex.Link receivers to download Memex.

## Methods
For Goal 1)
- Changing Icons and explanations of tooltips
For

[2018-06-05 16:19] oliversauter commented on #413
Mhh there is no error messages in the background page console that pop up when you try to search?
Is it only that word, or generally everything you search?

When being on the search overview page, try to do cmd+j and get the background console of that particular page. Does it also not throw anything?

[2018-06-05 17:18] shivam-tripathi commented on #413
@oliversauter Ok, I noticed something. If I use chrome's default bookmark - it gets added into the memex bookmark set of pages. Auto import maybe?
Anyhow, the problem is not with the search, it's working fine. The problem is with the `bookmark this page` option in the memex menu. I found this error to be thrown in the background page console when I try to bookmark a page:
[code]

[2018-06-05 17:20] oliversauter commented on #413
Ok that is already a great hint.
@poltak do you know more about this?

different method of bookmarking, yeah autosync.

Still wondering why it does not work for the terms you are searching with? Because even if you didnt bookmark the page, it should be searchable? What was the issue there?

[2018-06-05 17:22] oliversauter commented on #414
Maybe interesting: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-examples.html#lambda-examples-a-b-testing

[2018-06-06 02:18] shivam-tripathi commented on #413
@oliversauter The terms I was searching for was specific to the page I was trying to bookmark. I did that so as to make sure if it wasn't the case that perhaps memex was bookmarking the page in the background, and was not just showing it in the UI. Searching page specific terms made sure that this wasn't the case, and indeed the bookmarking was not working. 😃

[2018-06-06 02:19] poltak commented on #413
Thanks for reporting this @shivam-tripathi. This is pretty easy to reproduce from the steps you put in the OP 👍 A fix will be looked into!

[2018-06-06 02:21] poltak commented on #344
Done in #403

[2018-06-06 02:21] #344 closed

[2018-06-06 02:28] poltak commented on #389
@oliversauter Have you (or anyone else) been able to reproduce this in the last few weeks? If not, I think we should close this.

[2018-06-06 04:28] poltak commented on #408
As I've been implementing this stuff, I've been thinking about the visit delay stuff. When we first did the 2 stage thing, it made a lot of sense as terms indexing took a considerable amount of time. With the current implementation, the time is takes to index everything (not just terms) is negligible (<100ms on large content pages).

**If we let the user specify the delay, it might be very confusi

[2018-06-06 07:39] oliversauter commented on #408
Not sure about that. I see an advantage of making at least the title and url always searchable. Could be a 4th option.
- [ ] Make title and url always searchable (recommended)

Reason is that this would already be a huge advantage over the classic history, because at least you can search with tite+url+time+domain+tags filter in any case.
So for those who don't want their browsing history to be ind

[2018-06-06 07:43] oliversauter commented on #389
didnt properly try again tbh. Let me give it a shot later today and give you a headsup.

[2018-06-06 07:44] oliversauter commented on #413
Mhh weird, I tried to reproduce it several times, but it did always work for me :) Good that you could reproduce it and could provide a hotfix so quickly.

[2018-06-07 03:38] poltak commented on #408
I really like the idea of adding that 4th option. The more possibilities for user-defined behaviour, the better IMO. And I think implementation is fairly simple (just skip step 1 if setting is false)

I will hopefully get to implementing the backend for the bookmarking setting today, working out how to detect this, and will also look into detecting if a page has tags.

[2018-06-07 05:26] poltak commented on #408
One confirmation on reqs that I need:
If the user unchecks the "All that I stayed on for more than N seconds" checkbox, does that mean page visits are turned off (unless the page is a bookmark/link/etc. and the corresponding checkboxes are set)?

[2018-06-08 02:49] poltak commented on #408
In response to comment from @oliversauter on slack: https://worldbrain.slack.com/archives/C6D0H3TS7/p1528358250000505?thread_ts=1528353250.000259&cid=C6D0H3TS7

Yes, but I understood it to mean "only index visited pages if they already have bookmarks or tags". Hence for every page visited, when we run our "should log" logic that decides whether or not to log the current page (currently checks stat

[2018-06-08 04:36] poltak commented on #408
Been getting familiar with the direct linking implementation in preparation for implementing the "All I made Memex.Links on" preference. Similar to the "All I bookmarked" preference, should this be dependent on the "All that I stayed on for more than N seconds" pref? Actually writing this, it seems the "Make title and url always searchable" pref also seems dependent on that (so the "All I made Mem

[2018-06-08 06:47] poltak opened #418 "CSS classnames are obfuscated in new dev build"
Annoying when working on views. Old build, which also used CSS modules, uses the classnames as they appear in the source code.

TODO:
find out which options need to be set in the correct webpack styles loaders and make sure they're set in dev mode.

![screen shot 2018-06-08 at 13 44 34](https://user-images.githubusercontent.com/1130716/41143064-2b191782-6b22-11e8-81e9-0ed4ba34e25f.png)

[2018-06-08 08:44] oliversauter commented on #408
Not necessarily in full content. May just be title and url, no?

Yes agreed behaviour

this can also be that the page is only indexed with title and url, this way it then adds the full content as well, once a tag has been confirmed.

I could see a logic where that is separated. A person could have the "title and url searchable" disabled, but "all pages" enabled. this way he would only store those

[2018-06-08 19:27] digi0ps commented on #301
### Sidebar Injection

Since we are going to be having the Comments/Annotations Sidebar present in every website, I was researching on some neat ways to inject it.

I liked styled-components before, but thinking of it now, it wouldn't be suitable for us since it uses custom React components and would require some messing of webpack config.

The first approach we can try is the same way we have don

[2018-06-09 04:15] poltak commented on #301
Note that I don't have much experience in this problem domain at all, so please take what I say with a grain of salt. If you've done your own research into the different options and consider iframe to be the best option as of now, I completely support that :)

Ngày 9 thg 6, 2018, vào lúc 02:27, Sriram <notifications@github.com> viết:

[2018-06-11 06:18] poltak commented on #408
Thanks for the further info @oliversauter. I have derived a list of reqs to implement from this on the associated PR #416. There are still some reqs that need to be defined/confirmed from prev. comments:

- memex links toggle:

- bookmarking/tags toggle:

Still other TODOs to implement in the meantime, so no major rush with these reqs.

[2018-06-11 06:21] #288 closed

[2018-06-11 23:12] oliversauter commented on #408
Thanks for making it work so quickly! :)
Gonna make it short because its already late and I have sleep to catch up from yesterday

yes, except for that when "off" (and also "on") means to store and (later) make the highlight/annotations searchable.

Actually I thought about it again, and it makes sense that they are separately selectable, even if the "all pages i visited more than X seconds" is of

[2018-06-12 03:10] poltak commented on #408
Cool that clears up most things, but in regards to the bookmarking/tags toggle:
the most important requirements I need to know is what behaviours in the extension change (specifically with our 3 different bookmarking actions) when the toggle is:
1. set to "on"
2. set to "off"

[2018-06-12 06:51] poltak opened #419 "Include all fonts with extension"
Discussed this briefly with @oliversauter on slack #dev over a week ago. Putting here so we don't forget about it and discuss more if needed:
https://worldbrain.slack.com/archives/C89BPUM5Z/p1527888487000004

Upstream issue talked about in @oliversauter's post: https://github.com/google/fonts/issues/1495

I do not see any downside of including all our fonts within the extension, apart from extensi

[2018-06-12 08:00] oliversauter commented on #408
popup/browser-native: immediately index, if not already indexed or only title/url. If already indexed, add bookmark flag/time
Overview: if only title and url indexed before, then full index via xhr. If already fully indexed, just adding bookmarking flag/time

if page is already indexed, add bookmark flag/time
If page is not indexed yet, add bookmark flag/time as well as title/url and screenshot.

[2018-06-12 16:56] oliversauter opened #420 "Import history/bookmarks from file"
Several users requested the ability to import pages from the firefox backup files.

## workflow:
1) Choosing upload file
2) Validating (background)
3) calculate stats against db (like the pre-calcuation happening with regular imports of history/bookmarks)
4) start import
5) end import, show finish stats

### things to consider:
1) to use the data of the file in the right format for the importer, p

[2018-06-12 17:01] arpitgogia commented on #420
@oliversauter can I take this up?

[2018-06-14 06:59] arpitgogia commented on #420
@oliversauter is this the file that we need to add support for?
https://support.mozilla.org/en-US/kb/back-and-restore-information-firefox-profiles

[2018-06-18 06:46] poltak commented on #420
@arpitgogia FF profile should contain it, but I think more specifically the profile's places DB will have all the needed data: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Places/Database

Note that I don't think it would be trivial to add support for reading these files directly as we would need to also factor in some module to load the sqlite DB in the browser memory and derive the need

[2018-06-18 09:47] oliversauter commented on #420
Mhh I actually just had the idea that this feature is totally unecessary :D

Reason: Can't a user not work around this by just importing the bookmarks into the firefox browser, and then import them again via the regular importer?

[2018-06-18 21:41] oliversauter commented on #236
I think it would be good to put this one in a PR now, so we can merge everything in soon.

Found another bug:
1) Open this link with Memex, it does not anchor:
http://staging.memex.link/Syix8srWQ/nytimes.com/2011/10/19/nyregion/new-york-planting-a-million-treestoo-many-some-say.html
Open with incognito window to see quote that you'd be seeing.

[2018-06-20 06:26] poltak opened #423 "Transferring ext data across Firefox profiles"
I was contacted by a user who doesn't have a GH account earlier with a specific request.

User story:
"I had to create a new profile as my [Firefox] history wasn't syncing, I have worldbrain data in old profile, could you provide some instructions to migrate worldbrain data from old profile to new profile. I can't index as my places.sqlite is corrupted."

TODOs:
- look into possibilities for trans

[2018-06-24 18:26] oliversauter opened #431 "No autoscroll for Firefox users"
### Description
Open any Memex.Link with Firefox. It highlights, but does not scroll to the relevant position

### Airtable Record Link:
https://airtable.com/tblBq7nrwj8AQgv9H/viwrvz8NBeocbrbmp/recO7U6StbHtnAKW8

### Airtable Read-Only Invitation:
https://airtable.com/invite/l?inviteId=invGHpTKvNsztZTRv&inviteToken=b4c606e660f4fe67a14a6e721aa785d94236494abc581baa6c2bd27e5b940938

[2018-06-25 17:23] mukeshkharita opened #434 "Remove incorrect tag"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

When we create tags on page then when we try to remove using mouse then it removes other tag.

2. __How can we replicate the issue?__

Create 2 or more tags on the same page. Try to remove the 1st tag using mouse. It will remove the last one.

3. __Expected behavior (i.e. solution)__

It should remove the tag on whic

[2018-06-25 17:35] mukeshkharita commented on #434
I think we can fix this in the `hotfix` release. Will try to resolve in morning, will be straightforward. :slightly_smiling_face:

[2018-06-26 06:41] mukeshkharita commented on #434
@oliversauter @poltak It is working fine in the development version (`develop` branch). I don't know what is wrong with this.
@poltak can you reproduce this in production.

[2018-06-26 18:50] digi0ps commented on #434
I can reproduce this in production, wasn't able to in the development.

[2018-06-26 18:52] mukeshkharita commented on #434
@digi0ps Thanks for the information. :slightly_smiling_face:

[2018-06-27 04:39] poltak commented on #434
I have tracked this down to be a problem with the production build's code minimizers. A dev build on `master` or `develop` works fine but if you do a prod build it will be reproducible. Doing a prod build with minimizers explicitly disabled works fine.

It is most likely some option on the UglifyJS plugin that is set incorrectly or missing: https://github.com/WorldBrain/Memex/blob/develop/build/mi

[2018-06-28 02:51] poltak commented on #434
Tracked down to an issue in uglifyjs webpack plugin that was fixed in a recent update. Hotfix branch has been updated and my prod builds don't encounter this problem anymore :)

[2018-06-28 08:54] jean opened #436 "Import doesn't import"
1. __Can you describe the problem and bug in more detail?__

When opening the `w ` page, I'm notified I can import history & bookmarks.

This never goes away and never gets anywhere. Can we see progress?

3. __Expected behavior (i.e. solution)__

History/bookmarks should be imported.

4. __Error stack (from extension crash page)__

No crash, nothing happens.

5. __Other comments__

Firefox 63.0a1

[2018-06-28 09:00] oliversauter commented on #436
Hello Jean,

that is a pity. I see you are on the latest nightly version of Firefox, so it might as well be that some things have had breaks there. Important for us to know in advance, so there might be some breaking changes. Thanks for notifying us.

Have you tried it out on a stable release version of FF? Does it work there?

Cheers and thanks for your time

[2018-06-30 11:37] mukeshkharita commented on #434
Thanks, Jon, now it has been resolved. It is working fine with the new release. :tada:

[2018-06-30 11:37] #434 closed

[2018-07-03 05:15] mukeshkharita opened #438 "Static Notifications as Inbox"
It is not a bug, this is the discussion about notifications feature.
In the yesterday meeting, we discussed about notifications so these are the things that I understand.

For now, we have to make the notifications static and these will appear as an inbox.
The design will be ready soon so that we can start implementing.
The structure of the notifications will be
[code]

Here we can two things, we

[2018-07-03 11:44] #408 closed

[2018-07-03 16:02] mukeshkharita commented on #438
@oliversauter I have one doubt in the notifications mockups, you showing that there will be some notifications and some will be old that will be in the old headline.
So once user sees the notifications then we have to move to old or not.
I think these notifs will be new till the next release.
Am I right?

[2018-07-03 16:18] oliversauter commented on #438
Yeah we can make it like that. Once they have interacted with them, or clicked on the checkmark icon.

[2018-07-04 08:40] ShishKabab commented on #438
Just to continue to conversation here that was started on Slack. There's two things right now: 1) where to store notifications, and 2) when are they marked as 'read'.

Generally, I'd say to use the StorageManager for all these things. Just so we have one point for all data that's stored, which can automatically be backed up, synced, migrated, etc. Since the notifications will be both static and la

[2018-07-04 10:24] mukeshkharita commented on #438
![existing users inbox](https://user-images.githubusercontent.com/11373067/42271335-ac23c060-7fa0-11e8-878c-34ef9eb8f5e3.png)

@oliversauter We just need to clarify a lof of things in the mockups.

1. We have `new/past` as well as `read/unread`; so the new features will be particular related to new release. We have to deal with states according to this. The structure will depend upon this.
2. How

[2018-07-04 10:52] oliversauter commented on #438
It actually means the same. Anything that has been interacted with moves to "past (read)" people can quickly dismiss a notification and put it to "past" by clicking the "checkmark" icon

Through the checkmark icon

Unread/checked items.

[2018-07-04 12:01] ShishKabab commented on #438
@mukeshkharita That was assuming localStorage, right? I'd say using the StorageManager so we get the aforementioned benefits. Creating an index on the readTime field basically achieves the same you're describing, just with a little less work  :)

[2018-07-04 12:09] mukeshkharita commented on #438
@ShishKabab Yeah localStorage. You mean we can make one table and insert the notifis in the dexie table too, right?

[2018-07-04 12:10] ShishKabab commented on #438
BTW @oliversauter shouldn't we also change the icon in the toolbar? (Ohhh, red dots  :O  )  This means also we need a good way of having that dot go away. What I've usually seen:
* When a new notification comes, the dot appears
* When you view the list, the dot goes away, but the notifications are still marked as unread
* Only when the user clicks on the CTA or explicitly marks as read, it's marke

[2018-07-04 15:15] mukeshkharita commented on #438
@oliversauter There will be link when we click on the `Learn more`, right?
If yes then we have to save the `link` and button text (As you mentioned above the text can be different).

[2018-07-04 16:13] oliversauter commented on #438
It really can be anything. Can also be a function that is executed.
So for example if we say: “hey there is a new feature you can check out” “Enable now”
stuff like that.

At least I'd keep it flexible enough that we can put in anything.

[2018-07-05 03:25] poltak opened #441 "Deleting pages in overview reported to not work in some cases"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

Reported on slack by @oliversauter:

2. __How can we replicate the issue?__

_No known steps yet_

3. __Expected behavior (i.e. solution)__

Pages should always delete

4. __Error stack (from extension crash page)__

N/A

5. __Other comments__

I have played around with it for a bit today on both a dev build based on

[2018-07-05 15:46] digi0ps commented on #419
Since I was adding a new font to our build, I thought I will add these as well.
But [Open Sans](https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800) has a huge list of `.woff2` files to download.
If you look at the css, they have different font-faces for *greek*, *vietnamese*, etc. I guess *Latin* and *Latin-ext* are the ones used for English. So will it be good to just add those

[2018-07-06 02:42] poltak commented on #419
I would still recommend bringing them all in, so as not to break anything for existing users. We could think about which ones we really need/want-to-support as another issue.

It would be interesting to see how big they are all together though. Having a look at just a few of them, they seem pretty insignificant (4-12K) compared to some of the other assets we are including (images at 1M+, material

[2018-07-06 08:34] mukeshkharita commented on #438
@oliversauter The generic button will be very complicated then we have to interact with other scripts, like for enabling the tracking we have talk to interact with `src/overview/actions`, instead of this we can do one thing we can make the button that goes to link always on the particular part of the extension. Make sense?

@ShishKabab @poltak We have to make the button by which we can do everythi

[2018-07-09 06:08] poltak opened #443 "Move Chrome/FF differentiation logic to own module"
We use the following method to tell if the browser the ext is running in is either FF or Chrome:
- check to see if `runtime.getBrowserInfo` is defined or not on the WebExt API

Docs: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/getBrowserInfo

This has always worked fine for us, however it means we've got a bunch of confusing/not-immediately-obvious `browser.runtime.getBro

[2018-07-12 00:44] yulelong commented on #209
seems no improvement ever since...

[2018-07-16 14:52] dzmitry-lahoda opened #447 "Search results should not be shown on search engine page until bookmarked"
0. Visit https://www.youtube.com/watch?v=_-GD8VJW8jU
1. Go to DDG (https://duckduckgo.com/)
2. Search for `Quark is a new Scala DSL for dat `
3. Search for `Quark is a new Scala DSL`
Expected: I see only youtube link in memex.
Actual: I see youtube link and my previous searches.
Note: I should see my previous searches if and only if i have bookmarked my previous search on DDG.

![image](https://us

[2018-07-16 15:16] dzmitry-lahoda opened #448 "Share memex search"
I know there is story to back my memex onto some server. Same time there us memex link which allows to share link to what I select now.  Same time sharing my current memex search results shown in DDG is not shareable. I think same `notshareability` could be for search in memex on its own. What I propose, do direct public `copy` paste of my memex and give away to other person, and when that person

[2018-07-16 15:43] oliversauter commented on #447
Hey @dzmitry-lahoda

Oh wow thats awesome that it works so well for you (related to personlized search) :)

Yeah, I've heard this now a couple of times.
We may be able to do a quick fix on that soon. I'll put it on the freeze-dry list we want to tackle soon.
In the mean time, you can also exclude duckduckgo.com as a result by just typing "-duckduckgo.com" into the search.

Btw: Soon we are launchi

[2018-07-16 16:10] oliversauter commented on #448
Hey @dzmitry-lahoda

Great feature idea and will 100% come in the next couple of months.
First step towards this is that you can make collections, which will launch in the next 2-3 weeks.

In August we start our work on making those collections collaborative, means you can either publish them as a link, like you suggested, or even crowdsource them with others.

Workflow is roughly this: https://in

[2018-07-17 10:32] dzmitry-lahoda commented on #448
I have quick view through list feature. I think it will work. But not well for my use cases and to my understanding.

What is list?
It bunch of bookmarks marked as `list:shared_with_john` or `list:for_collegues` or `list:my_current_research`.
So list as defined by prototype is not `well`.

What is simplest sharing?
I give away my search by `list:for_collegues` AND `testing` away as link.
Other par

[2018-07-19 04:00] poltak opened #449 "Git pre-commit prettier hook no longer working"
I've noticed this in a few modules recently. Take this module, which I changed in a commit earlier today, where there are obvious style violations (lines too long, semi-colons, etc.) that aren't being dealt with automatically via the set up git hook:

https://github.com/WorldBrain/Memex/blob/90c75deea64de0edd111a6eeb642414a1f0e37b1/src/backup/background/index.ts

[2018-07-20 03:29] poltak commented on #449
Should be fixed in 1341a386bb0de64c511d518439ad0e5708ce4156. Re-open if any more issues.

[2018-07-20 03:29] #449 closed

[2018-07-22 13:57] pranshuchittora opened #452 ""memex-scripts" - easy to maintain project dependencies"
Recently I just got started to contribute in Memex , the minute after cloning it I am like 😕 where to start .The root folder have too many config files and package.json is hundreds of line long.

Similarly the CRA (create-react-app) is also a huge project but it looks quite clean because its backed by the react-scripts .
So why don't we try to make "memex-scripts" .
Let's discuss 👇😀

[2018-07-23 01:42] poltak commented on #452
CRA just hides away a large, but constant, amount of `devDependencies` relating to the webpack build setup it provides. Your packages listed in `package.json` will grow as you add new features and deps, regardless if it's a CRA or non-CRA based app.

Though I wouldn't really recommend starting with reading through `package.json` as a starting point for contributing (it's more meant for computer-co

[2018-07-23 04:12] pranshuchittora commented on #452
But the idea I am proposing would make the project more manageable and clean.

[2018-07-23 12:10] pranshuchittora commented on #452
**Features / benefits of "memex-scripts"**

- One dependency.
- Creating a utility for common development purposes for the teams.
- A lot of time is wasted/invested in setting up build tools for new projects.
- You just have to maintain one tool i.e. "memex-scripts".
- Different types of configs required (webpack , babel , eslint , tslint etc) .
- Also it can take configs for different build tools

[2018-07-26 16:10] oliversauter commented on #419
Has this been already committed?

[2018-07-26 16:15] oliversauter commented on #209
Sorry for the late response, we are in the midst of a couple of feature releases that require a lot of attention.
Unfortunately, we currently don't have the capacity to tackle this issue unfortunately. (working on it to get us to a stage to have the capacity though)

[2018-08-01 15:33] mukeshkharita opened #460 "Analytics for Athena/Quicksight"
Here we have to write all the needed analytics.
1. No. of Install/Uninstall per day/week/month
2. Users who uninstall the extension, stay time of the user
3. Avg stay time of users only who have uninstalls the extension
4. No. of active users in the last week/month

@oliversauter You can add the remaining analytics that is needed in the Athena/Quicksight, Also mention the graph's x-axis name and y

[2018-08-02 17:47] pranshuchittora opened #464 "Memex Search from Tooltip - Feature"
## Tooltip Search
While browsing we came across many keywords whose reference is needed , but with the powerful memex search we can get the information relevant to the keyword.
------
So the idea is , we have a search button in the tooltip.

![seacrch_tooltip](https://user-images.githubusercontent.com/32242596/43600807-4545a244-96a9-11e8-9a05-61f91a6e56b3.png)

### On clicking search btn , a new t

[2018-08-02 18:03] pranshuchittora commented on #464
Added the UI for the tooltip-search #465

[2018-08-03 18:09] digi0ps opened #470 "Testing for Comments/Annotation UX."
Apart from the unit tests (for functions, storage etc.), I have written a list of UI/behaviour entries, which if tests are added will make it much easier to find bugs. Since this is UX testing, we can go for headless browser testing. I have some experience with Casper, but I guess Jest + Puppeteer is popular. But I don't have much idea on how UX testing works with extensions, so what do you say @S

[2018-08-06 03:37] poltak commented on #470
Anyone have any ideas already for how the UI -> BG scripts separation will work?

An example: for "CommentBox - Adding Comment" flow, I can think of at least the following steps for how it roughly works in the browser (though not familiar with the actual implementation):
1. update the input's state
2. press the save button
3. send some data derived from the UI state over our `remoteFunction` messa

[2018-08-06 12:41] digi0ps commented on #470
Yup that's nearly how the adding a comment/annotation flow work.
But after storing the data in step 4,  the annotations are fetched again from storage.

https://developers.google.com/web/tools/puppeteer/examples
There's an example which supports loading extensions using this way:
[code]
If extensions don't work, then I would have to be mocking StorageManager too since IndexedDb for the background

[2018-08-06 15:41] subrat-sahu opened #479 "[WIP] Testing UX for collections(custom-lists)"
## Sidebar
- [ ] Sidebar should open in filter mode if filter icon is clicked.
- [ ] Sidebar should open in Collection mode if collection icon is clicked.
- [ ] Close on outside click.
- [ ] Should not close on drag and drop.
- [ ] open in filter mode if any filter is initialised from any of the seach-bars(like #test).
- [ ] Open sidebar in collection mode if page is dragged onto collection icon.

[2018-08-07 04:04] poltak commented on #470
The idea was more that you would just need to mock the background script as a whole (covered by just the `util/webextensionRPC` module). i.e., you test the stuff that happens in the content script separate to the background script. So for the content script stuff you just have to simulate successful and unsuccessful requests then deal with step 5 accordingly for both outcomes in your tests.

That

[2018-08-08 03:34] poltak opened #492 "Move away from string literals for internal analytics events"
### Background

Our new analytics feature has a set number of different events that get stored internally and optionally on our analytics server.
These events are defined in [`analytics/internal/constants`](https://github.com/WorldBrain/Memex/blob/14e6e6b2d44f6da57d6557c64e3eada302aaa89b/src/analytics/internal/constants.js) module, where they are mapped from the event name to integer IDs (aliases

[2018-08-08 06:18] pranshuchittora opened #493 "bug : Not able to close memex static popup while playing YouTube videos on full-screen"
1. __Can you describe the problem and bug in more detail?__
While watching You Tube videos in full screen the static memex bar on the right side of the screen still shows. And it didn't closes (when youtube player is on full-screen mode).
![screenshot from 2018-08-08 11-43-52](https://user-images.githubusercontent.com/32242596/43819382-59e4594c-9b00-11e8-9c7a-9c7cff199309.png)

2. __How can we rep

[2018-08-08 06:44] poltak opened #494 "Capturing common IDB errors before sending to sentry"
Feature freeze task. Need somewhere to write what I found out

Sentry gets spammed with the same IDB/Dexie errors, like `QuotaExceededError`, every time we publish a new version. Most of these seem to be completely out of our control and the sheer volume of them really makes it difficult to see the actual important errors that we have accidentally introduced in new changes in the codebase.

All of

[2018-08-08 06:50] poltak commented on #493
Not sure if it helps, but there is a [`fullscreenchange` event](https://developer.mozilla.org/en-US/docs/Web/Events/fullscreenchange) that, AFAIK, fires when HTML5 video is expanded (including Youtube? easy to test). Maybe that could be utilized to hide the sidebar ribbon

[2018-08-08 06:58] pranshuchittora commented on #493
@poltak  what is the name of this component or where it is located in the project.

[2018-08-08 08:38] digi0ps commented on #493
I tried using the `:fullscreen` css pseudo-selector, but didn't work out. Thanks for letting me know about the `fullscreenchange` event, @poltak.
@pranshuchittora if you want to work on, the component is in `src/sidebar-overlay/components/Ribbon.js`.

[2018-08-08 11:08] dufferzafar opened #495 "Search over YouTube subtitles"
_Couldn't figure out if this is already done or not._

We could download a youtube video's subtitles, store them in the DB and allow memex to search over that.

See also: https://github.com/open-source-ideas/open-source-ideas/issues/88

[2018-08-08 16:45] oliversauter commented on #495
Hey @dufferzafar

That's a fantastic idea, wonder how that could be done easily. Best would be if those subtitles are already available in the DOM, when loading the subtitles section otherwise we would need to build a youtube integration, which makes things a bit more difficult.
Would also be cool to abstract it away nicely so that other video services could be attached more easily.  I see from yo

[2018-08-08 16:52] pranshuchittora commented on #493
Thanks @digi0ps  for the help.
Progress till now
- [x] On video full screen the Ribbon closes by calling destroy()
- [ ] The Ribbon should re-render on exiting the full screen.

Pls Help

 **Question :** Do I have to add event listeners for different browsers differently , because they are working only by calling "webkit" , "moz" , "ms" respectively ??

And how to re-render the Ribbon component af

[2018-08-08 17:07] pranshuchittora opened #496 "bug : Sidebar not opens from the Ribbon"
1. __Can you describe the problem and bug in more detail?__
Not able to open the sidebar from the Ribbon

![memex_sidebar](https://user-images.githubusercontent.com/32242596/43852705-89ad8850-9b5b-11e8-8e46-e3d188ebae6b.gif)

2. __How can we replicate the issue?__

![memex_sidebar](https://user-images.githubusercontent.com/32242596/43852724-9609c6d6-9b5b-11e8-91b1-a5aa5fe7d46e.png)

[2018-08-08 17:09] oliversauter commented on #496
Thanks @pranshuchittora for your engagement so far and being so proactive in helping to improve Memex :) much appreciated (still have to get back to your search PR, sorry about that. Pretty busy in the past days)

Does this happen on every page?

[2018-08-08 17:47] oliversauter commented on #460
Charts we need:

**The most important thing to get right at this point is the distribution of (un)install times, and the drill down to the individual user's stats**  Lets first get this right before we move on to the others

- [ ] Distribution of install times in: 1) Less than a day 2) Less than a week 3) Less than a month 4) the rest.  ([cohort](https://en.wikipedia.org/wiki/Cohort_analysis), y:

[2018-08-08 18:36] digi0ps commented on #493
I don't think it's best to destroy and re-render the whole Ribbon.
What I would suggest is that you create a new boolean state, toggle it in `fullscreenchange` listener and add a class to Ribbon div depending on the state. Like how it's being done with `isSidebarActive` state.
https://github.com/WorldBrain/Memex/blob/1d209f20b9fdd7d705cf3a9505018d9cb489fff7/src/sidebar-overlay/components/Ribbon.js

[2018-08-08 18:37] digi0ps commented on #496
Can you describe more? Is this happening in production or your development environment?

[2018-08-08 21:36] mukeshkharita commented on #460
Hey, @oliversauter Thanks for putting the events down here.

For this, you have to copy the id and put the value of parameters.

You mean no. of installs that day/week/month, right @oliversauter?

In case of only uninstalled extension user?

Yeah sure, we can send the events with the user id but it will be getting request so doesn't make more sense?

These look quite easy, no need to think more ab

[2018-08-08 21:52] pranshuchittora commented on #496
Thanks @oliversauter  👍🍻

[2018-08-08 21:54] pranshuchittora commented on #496
@digi0ps  it is happening in the production version ( official ver from chrome store)

[2018-08-08 22:10] oliversauter commented on #496
So does this happen on every page, or not? :)

[2018-08-08 22:29] oliversauter commented on #460
Not sure if I understand. Can you elaborate a bit more?

No, i mean a distribution of the time how long it took people to uninstall. So how long did they stay? The chart should categorise how many users stayed less than 1h, Less than 1 day, Less than 1 week,  Less than 1 month?
For that you could use a quicksight distribution chart: https://aws.amazon.com/data-visualization/
See "distribution" > H

[2018-08-08 22:37] pranshuchittora commented on #496
Yes , its happening on each and every page .

[2018-08-09 03:29] poltak commented on #496
@digi0ps The only `.filter` calls I can see in the content script code for annotations is in the `Ribbon` comp's `openSideBar` method:
https://github.com/WorldBrain/Memex/blob/develop/src/sidebar-overlay/components/Ribbon.js#L208
and `openSidebarAndSendAnchor` remote method:
https://github.com/WorldBrain/Memex/blob/develop/src/sidebar-overlay/components/Ribbon.js#L77
They both call `Array.prototyp

[2018-08-09 05:44] poltak commented on #494
Sadly this `unhandledrejection ` seems to be unsupported in FF although it's in progress: https://bugzilla.mozilla.org/show_bug.cgi?id=1362272
I haven't found any alternative to this, so I will probably have to catch these specific errors wherever we are interacting with Dexie. Less work for the newer code that uses StorageManager, but the non-StorageManager search is still a very large interface.

[2018-08-09 13:08] pranshuchittora commented on #496
### On new page load
![screenshot from 2018-08-09 18-35-57](https://user-images.githubusercontent.com/32242596/43900692-3691676a-9c03-11e8-8caa-d904ba8e0807.png)
### After clicking on logo

![screenshot from 2018-08-09 18-36-11](https://user-images.githubusercontent.com/32242596/43900693-369e9e80-9c03-11e8-8a59-5baaab203518.png)

[2018-08-09 19:55] dufferzafar opened #501 "GitHub stars"
Full text search over *ONLY* the repos you have starred?

How will this integration work? some component would have to lookup to the GitHub API?

Like how do you add restrictions over pages?

[2018-08-09 20:08] digi0ps commented on #496
Are you sure these screenshots are from the background page?
Anyways, I pushed a quickfix, it should fix it!

[2018-08-09 20:17] dufferzafar commented on #495
I have never once created a browser extension, so I don't really know how this would work, but if I were building the entirety of worldbrain/memex as a native application (where the browser extension itself would only do as little as possible - leaving out all the heavy work for a *core*), I would be free to use amazing tools like [youtube-dl](https://github.com/rg3/youtube-dl/) - which would deal

[2018-08-10 04:36] pranshuchittora commented on #496
Reinstalling the extension fixed the issue :+1:

[2018-08-10 07:02] poltak commented on #496
I'm sure reinstalling would probably fix it, but I don't really see that as a valid general solution to this issue. If you experienced it, I'm sure other users are experiencing it as well and just telling them to reinstall - and thus lose all their data - would be a pretty poor solution.

Let's re-open and we'll publish an update with @digi0ps's hotfix soon, then we can see if anyone else reports

[2018-08-10 07:19] poltak opened #505 "Tracking content script errors"
We use sentry to track errors that occur from our background, options, and popup scripts.

With a lot of recent features making a lot more use of the content script than we ever did in the past, it's more likely we'll experience bugs in that code. However we don't have sentry set up in the content script, so we're currently not sure how wide-spread important issues like #496 are.

### Things to no

[2018-08-10 07:42] pixelastic commented on #495
You need to request a YouTube credential files in order to use the API. Those come with pretty generous rate limits that you would never actually reach as an individual. Once those thresholds are hit (I don't remember the exact number), you have to pay to go above, or wait the next day for your quota to be back to zero.

BUT, captions are not available through the API... For that, I had to use ano

[2018-08-10 16:08] mukeshkharita commented on #438
This has been implemented, therefore closing now. :slightly_smiling_face:

[2018-08-10 16:08] #438 closed

[2018-08-10 17:48] digi0ps commented on #470
@poltak Got it setup and running yesterday. But there are a couple of caveats to this now.

First one, as you said, is that Chrome Extensions doesn't work in headless mode, so during every test Chromium pops up. As far as CI is concerned, [Travis supports running GUI tests](https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-xvfb-to-run-tests-that-require-a-gui), but I maybe wrong.

S

[2018-08-10 22:29] oliversauter commented on #460
We can drill down by date and it will tell us the no. of uninstalls by the period.

No this is a separate graph. What is needed here is a distribution.
Example: 5 users have had Memex installed less than 1h, 10 people less than 1 week, 100 people less than 1 month.
What we need is the abiltiy to have a distribution chart, and when clicking on one of the bars, it should show a list of all users.
It

[2018-08-10 22:46] oliversauter commented on #438
Great work @mukeshkharita  :) 🎉

[2018-08-10 22:55] oliversauter commented on #493
Great work @pranshuchittora!

[2018-08-10 22:55] #493 closed

[2018-08-11 08:14] pranshuchittora commented on #413
The issue #496 have same problems as above & might be resolved in #504

[2018-08-12 11:00] rosuH commented on #209
Thank you for your work and look forward to your support for CJK fonts.

[2018-08-12 17:31] KnowledgeGarden commented on #436
FF 61.0.2 (64-bit) on a MacBook Pro. Very latest upgrade.
Installed Memex on Chrome on same MacBook, came right up, grabbed everything, working fine.
On FF, not so much: First thing was to enable the extension; then has been busy analyzing history and bookmarks for > 10 minutes. For the record, there isn't much history and few bookmarks.  Went ahead and visited a few web pages. w+space+<query> sti

[2018-08-12 22:48] oliversauter commented on #436
Hey @KnowledgeGarden

This is really annoying, I am sorry that you experience this.
I am not a Firefox user, but just checked and works fine for me. The version I am using is: 62.0b16

Can you check what the background page spits out as messages when you visit a website?
1. For that you go to: about:addons
2. Then on the settings button on the very top of the page to find "debug addons".
3. Then y

[2018-08-13 01:17] KnowledgeGarden commented on #436
Oliver, thanks for the enthusiasm. It's infectious !
But, on a MacBook Pro, 61 is the highest available version for me.
When I go to the console and refresh a page, I see nothing happen. I click all the blue filter buttons to turn them off and still see nothing. Visited a new page. The Memex sidebar pops, but console says nothing.
BTW: clicking the blue Debug button opens a dialog which asks me to

[2018-08-13 01:51] KnowledgeGarden commented on #436
Another wikipedia page
SyntaxError: "JSON.parse: unexpected character at line 1 column 2 of the JSON data"
emoz-extension://153f1160-a4d2-1b46-83fb-183836a9d8c9/background.js:1:1949829Mmoz-extension://153f1160-a4d2-1b46-83fb-183836a9d8c9/background.js:1:596327_invokemoz-extension://153f1160-a4d2-1b46-83fb-183836a9d8c9/background.js:1:596117tmoz-extension://153f1160-a4d2-1b46-83fb-183836a9d8c9/back

[2018-08-13 05:36] pranshuchittora commented on #501
Looking only :repo/README.md makes much more sense.

[2018-08-13 07:12] poltak commented on #470
RE Chromium in CI: That Travis link talks about headless chrom/ium rather than the full thing; this is a really important distinction. If extensions don't work in headless mode but headless mode is required for our CI setup then there is a bit of a problem unless we can find an alternative way to get it running as an extension. If you have time, play around and see what you can get working (though

[2018-08-13 07:15] poltak commented on #418
From @digi0ps comment in issue #470 :

That sounds great if easy to do. Have you set it up like this already? If you can disable it during UI testing, would you also be able to disable it during dev mode or they are completely separate?

[2018-08-13 08:17] digi0ps commented on #470
Okay I will dig deeper into it.

RE classnames: The obfuscation is not a problem right now. I need to be able to retrieve these transformed classnames through the tests, regardless of it being obfuscated or not.
Like, in the puppeteer test, I want to fetch an element having some classname but I only have the original classname not the transformed. I want to able to get the transformed classname so

[2018-08-13 08:18] digi0ps commented on #418
No I haven't set it up yet. I will try today.

[2018-08-13 10:56] azazel75 opened #508 "Import tags from FF bookmarks"
I all,
great product thanks!

I've used FF bookmarks' tags extensively and I would like to re-import those into memex. As I expected, the existing tags weren't imported I presume due to the lack of support for them in the current WebAPI (FF copied the API that Chrome created for bookmarks, which doesn't support tagging).

So I would like to re-import them inside memex, I've already analyzed the sq

[2018-08-13 17:53] jaykay12 opened #509 "Bug: Scroll not working after clicking on Annotations"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
Once any Annotations is clicked from Ribbon, the pages loses Scroll behaviour.

2. __How can we replicate the issue?__
Open any web page. Create an annotation. Reload the page. Open Ribbon. Click on the created annotation, now try scrolling.

3. __Expected behavior (i.e. solution)__
It should scroll as usual.

4. __Er

[2018-08-13 18:05] oliversauter commented on #509
Hey @jaykay12

thanks for reporting this issue.
We thought of having fixed that one, but I can also reproduce it again weirdly.
With the next update it will be gone. Sorry for the inconvenience.

What should usually enable scrolling again, is if you hover over the sidebar and back on the page.
Does that work for you as a quick fix?

Sorry 'bout that!
Oli

[2018-08-13 23:14] oliversauter commented on #509
I just pushed the new version 0.7.6 into production.
After the fix I made, i could not reproduce the error anymore.

Let me know if you still experience it.
If yes, which OS and browser, including versions are you running?

[2018-08-14 17:37] and-thus-are-no-longer-available-to-eat opened #513 "When "Show Sidebar/Tooltip" is turned on, focus is no longer on page content after loading (so e.g. UP, DOWN, PGUP, PGDN keys no longer scroll page)"
Browser: Firefox 61.02 (64 bit)

When I turn off that option, desired behavior resumes, i.e. after loading a page, I can straight go ahead and use [up] [down] [pgup] [pgdn] keys to scroll page

When that option is turned on, I have to manually click on the page, or press F6 to cycle to the page frame.

It would be great if the default behavior could be changed to browser default, esp. for the bene

[2018-08-14 21:14] mikestaub opened #514 "breaks vimium chrome extension"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
My favorite chrome extension does not work when this extension is active.
https://chrome.google.com/webstore/detail/vimium/dbepggeogbaibhgnhhndojpepiihcmeb?hl=en

2. __How can we replicate the issue?__
  - Install vimium and memex on latest chrome.
  - search anything on google.com
  - type shift+f, nothing happends

[2018-08-15 02:05] poltak commented on #514
Does shift+f work if you click the page? I use the similar functionality/purpose ext [cVim](https://chrome.google.com/webstore/detail/cvim/ihlenndgcmojhcghmfjfneahoeklbjjh) where the shortcut overlay is now broken in the same way unless I click to focus on the page first (though it defeats the purpose of keyboard nav if I need to click first).

If so, this sounds related to what is described in #5

[2018-08-15 04:29] digi0ps commented on #514
@poltak ah yes. The CommentBox gets focussed when the page loads, but since it's loading inside the iFrame it might be stealing the focus even before the sidebar is open.

[2018-08-16 02:36] poltak commented on #514
Commenting out this line seems to fix it for the sites I tried:

https://github.com/WorldBrain/Memex/blob/develop/src/sidebar-overlay/CommentBox/components/CommentBox.js#L43

@digi0ps How important is this manual focus on the input? Once I click the ribbon and open the sidebar the comment still seems to focus fine without this line, but there may be another purpose?  (Chrome 70.0.3521.2)

[2018-08-16 02:45] digi0ps commented on #514
@poltak I had the code in place already to focus only on the ribbon press. But the `this.inputRef.focus()` was for overview. I fixed this in the commit I made yesterday and sent a PR.

Tested with Vimium, works good now.

[2018-08-16 02:56] poltak commented on #514
Ah thanks for being patient @digi0ps. In my sleepy morning state, I somehow didn't see the ref from that PR to this issue. Thanks a lot for fixing this!

[2018-08-16 03:39] digi0ps commented on #514
Haha, no problem.

[2018-08-16 21:09] sahil48 opened #517 "Feature Request: Export Locally Indexed Files to Disks"
It would be great to have an option to locally export files indexed with Memex to a file on your computer to back up the files backed up and to make it faster to set up on a new installation of chrome or firefox.

[2018-08-16 22:12] oliversauter commented on #513
Thanks @and-thus-are-no-longer-available-to-eat (nice handle) for taking the time to report this issue Much appreciated! :)
This should be fixed now with the latest update to 0.7.7.
Let me know if there is anything that doesn't work still or yet,

Also thanks to @digi0ps for taking this on so quickly!

[2018-08-16 22:16] oliversauter commented on #514
Great work @digi0ps & @poltak :) This is in production now!

[2018-08-16 22:16] #514 closed

[2018-08-16 22:16] #513 closed

[2018-08-16 22:16] #509 closed

[2018-08-16 22:27] oliversauter commented on #436
Sorry @KnowledgeGarden for answering this late. I am currently very busy.
@poltak probably can tell you more about the origins of this error.

[2018-08-16 22:33] oliversauter commented on #501
Oh nice idea! Thanks!

I wonder if the Github API is really necessary, at least for an idea I have: Because as of now, you can only search what you have visited, we may be able to see in the html code if a visited repo has been starred or not, and filter by those in the search.

In later stages we thought also about the ability to integrate custom search endpoints and search those sources via Meme

[2018-08-17 00:30] KnowledgeGarden commented on #436
@oliversauter I get _busy_. Looking forward to solving this issue. Enjoying using the tool in Chrome where it is working.

[2018-08-17 02:59] poltak commented on #436
Hi @KnowledgeGarden. Thanks for being patient with us with this issue and providing us with lots of details. Sadly I can't reproduce this either on FF 61, 62, or various Chromes on my Mac. I also checked our error tracking data, but cannot see any other users experiencing this error. So it's hard to give any definite advice here, but here's a few things you could try now:

1. clear your imports st

[2018-08-17 15:05] KnowledgeGarden commented on #436
Thanks for diving in!
[1] gave promise pending, then this: TypeError: storage['import-items-state']
[2] said "done"

No change (yet): it's still hung up indexing or whatever it's doing.

[2018-08-17 22:02] sahil48 opened #520 "Feature request: Automatic Tags"
When importing bookmarks and history, it would be great to automatically add the folders the bookmarks were in as tags, and date website was accessed based on history so they can be used as search parameters with worldbrain.

[2018-08-17 23:33] KnowledgeGarden commented on #436
Amazingly ! the system after sitting there for an hour or so changed its view and showed me what I saw in Chrome. I set it to importing bookmarks (8 ok, 8 failed) and history

Browsing History | 849/967 | 643 | 206
It seems to have stalled at 87% with 643 good 206 failed.
But, and this is the kicker (!) search is working. No clue what happened but as far as I'm concerned, this issue is now closed.

[2018-08-18 12:52] oliversauter commented on #436
I think I know what the problem may be!

Did you (temporarily) disable the setting for Chrome to notify you when you try to fetch questionable sites?
https://worldbrain.helprace.com/i49-prevent-your-imports-from-stopping-midway

Maybe that helps?

[2018-08-18 12:53] oliversauter commented on #520
Hey Sahil!

Great feature request, which could help bridging that searchability until we have subfolders and a proper 2-way sync with the bookmarking folders.

Next week we're doing a product planning sprint and I will take this into consideration, then being able to tell you more!

[2018-08-18 17:51] KnowledgeGarden commented on #436
I have no recollection of doing that either on Chrome or on FF.
In any case, on FF, where I am typing, Memex is working now. Even picked up this thread.

[2018-08-18 22:58] oliversauter commented on #436
Cool, happy that everything works.
PS: Will also get back to your email soon, sorry for the delay.

[2018-08-19 19:48] jonathan-s opened #521 "Categorize what kind of link it is"
For instance it would be super helpful to have a link categorized / tagged as an article if it was an article in NYT or a blogpost.

For HTML documents that use semantic web you could find out that it is an article if it uses `<Article>`. For documents that uses anything from schema.org you can find a wealth of meta data about the link in question.

Similarly, all the meta tags in a HTML document

[2018-08-19 20:06] jonathan-s opened #522 "Blacklisting should give an example of what websites will be deleted"
If you blacklist using a regex pattern it would be helpful if examples of links that will be deleted were shown to the user.

[2018-08-19 20:09] jonathan-s opened #523 "Option to strip query parameters from links"
While I'm aware that query parameters may be crucially important to show the specific page. (wordpress comes to mind). It would still be nice with an option to strip query parameters from links for the user that wishes to, thus reducing duplicate links in the majority of cases.

[2018-08-19 20:59] and-thus-are-no-longer-available-to-eat opened #524 "Feature suggestion: option to set Memex as default search engine"
This is just a wish for something "nice to have". I realized that actually more than 50% my searches are actually attempts to retrieve something *specific* that I searched for before, e.g. that blogpost I read about such-and-such.  If so, it actually would make a lot of sense to make Memex my default search engine, and only search with Google/DDG when I need to. For one thing, there's less noise t

[2018-08-20 00:39] and-thus-are-no-longer-available-to-eat opened #525 "Sidebar/Tooltip covers much of page content on some sites"
For some reason, when sidebar/tooltip is turned on, about 80% of the following page

http://10minbasics.com/react-createclass-is-not-a-function/

is covered.

Tested in latest versions of both Chrome and Firefox. A gif is attached to show how toggling the sidebar/tooltip on and off covers/uncovers a large part of the page.

![2018-08-19_20-34-21](https://user-images.githubusercontent.com/41923243/

[2018-08-20 01:38] oliversauter commented on #525
Thanks for the notice. I can reproduce this. @digi0ps, can you check on this as soon as you have the time? Thanks!
PS: hope your exams went well @digi0ps

[2018-08-20 02:51] poltak commented on #523
We do a similar thing internally for certain query params that we have deemed "uninteresting" on some common sites. We came up with the idea almost a year ago, although we actually never updated it since then :/ The current rules are all defined in this module:
https://github.com/WorldBrain/Memex/blob/feature/popup-refactor/src/util/query-string-normalization-rules.js

Allowing this behaviour to b

[2018-08-20 06:45] jonathan-s opened #526 "Track how many times a link has been visited"
When you're searching for something it could be ordered (by default?) by how many times you've visited a link (site/page). The assumption is that if you've visited that page many times it's more likely that's the thing you're looking for in the search.

[2018-08-21 21:42] and-thus-are-no-longer-available-to-eat opened #531 "unresponsive on some (huge) pages (Chrome & Firefox)"
This isn't really a bug I guess, because the page that causes the issue (the HTML spec at https://html.spec.whatwg.org/) is huge. I tested it on both firefox and chrome on a reasonably fast win10 machine. In Chrome it would hang without warning, in Firefox the following would be displayed:

![2018-08-21_17-26-23___firefox](https://user-images.githubusercontent.com/41923243/44430436-a9473c80-a568-1

[2018-08-21 22:34] oliversauter commented on #531
Oh wow! This is certainly a case I haven't seen before. I could even finish loading. Its very long indeed.
I would file this under an edge case to consider in future performance improvements, and put it on the list for our next feature planning session.

[2018-08-22 12:29] oliversauter opened #533 "Login to some platforms not possible when having Memex enabled"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

People, including me, are running into the issue that with memex installed its not possible to login to some services. In this case its bitbucket, but I experienced it with AWS Quicksight & Cloudflare. Only deactivating memex helps.

2. __How can we replicate the issue?__
1. go to cloudflare, aws or bitbucket and try

[2018-08-22 12:38] oliversauter opened #534 "Extension refuses to store anything to DB"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__

Extension stops working because of "CreateObjectStore" on "IDBDatabase": An object with the specified name already exists.

Its presumably the same error that led the other extension of someone to not work. :/
![39820848_2326024694079661_454645262061666304_n](https://user-images.githubusercontent.com/7870039/44463706

[2018-08-22 19:29] digi0ps commented on #533
Took a quick look into this. Unfortunately, it only happens if tooltip/sidebar is ON. I guess these website are listening for DOM changes/mutation events to prevent the login. But I might be wrong. Will dig deeper tomorrow!

[2018-08-22 21:12] oliversauter commented on #525
Has been fixed with #529.

Thanks for the swift fix @digi0ps

[2018-08-23 03:01] poltak commented on #534
This is one of the errors tracked on sentry, so it's good to finally see it in the wild - it (the error resulting in no DB access) could be far more widespread than we thought.

I've had another google around for info on this error although haven't found anything super insightful. [Some IDB-specific discussions](http://memex.link/5hm9OKnNF/stackoverflow.com/questions/33709976/uncaught-invalidstate

[2018-08-23 04:36] poltak commented on #533
After searching around sadly I haven't yet found any reason to explain why this would happen.

BitBtucket doesn't work for me when I have tooltip/sidebar enabled **in Chrome**. FF works okay with sidebar on and off. This is the page I get from BitBucket in Chrome:
<img width="625" alt="screen shot 2018-08-23 at 11 33 36" src="https://user-images.githubusercontent.com/1130716/44504884-99df0500-a6c8

[2018-08-23 04:36] oliversauter commented on #534
Existing. Had the extension for a long time > before the migration. Same for the user who experienced this last week.

Months.

No

Have to ask.

I also checked yesterday which db they are using. And the useOld() is false.

An idea that I had that it may have something to do with the resuming of the migration? And that it may have created a new db in a first try, and when resuming trying again wit

[2018-08-23 05:22] techguybiswa opened #536 "Top right navbar out of container | CSS responsiveness issue"
**Bug Description:**

The top right navbar of memex adding comment and tagging comment is coming out of the container.
Might be it is a CSS responsiveness issue.

**How to replicate the issue?**
In my case:
1. Install worldbrain extension in Google Chrome in an HP 15 inch notebook with linux OS.
2. Click on the brain icon and the memex container opens in right side.
3. You can see the top right na

[2018-08-23 05:25] Bisso1998 commented on #536
Also, the same type of issue is prevalent in top left navbar in my collection side navbar in Results Page of Memex.

[2018-08-24 09:00] oliversauter commented on #536
Hey @Bisso1998,

thanks for the tip. Actually this is intended design, but I also have my issues with it.
Once we do a redesign, we'll remove it. Just give a bit more space for other things that need to be packed into the top bar soon (e.g. search etc)

[2018-08-24 09:08] Bisso1998 commented on #536
Oh okay got that.  So hey. Basically I am a student and have some really good  internship experience in tech startups based in India as a front end developer working on VueJS/Vuex.
I have a few quick questions:

1. Can I get the chance to redesign the entire new interface for worldbrain?  Or at least for the interface of the note taking feature?
2. Or else or there any beginner level bugs that I n

[2018-08-24 09:11] oliversauter commented on #536
Thanks for your enthusiasm :) Happy it is so helpful to you.

1. When you say "redesign" you mean also providing design mockups, or just implementing some new designs?
2. I am actually just in the mode of going through the upcoming tasks that we can distribute to the community. Will let you know, once those are ready.
3. Your macbook setup should be absolutely fine, building our project is not hug

[2018-08-24 09:20] oliversauter commented on #526
Hey Jonathan,

as already talked about in the chat, great feature request. I thought maybe a potential solution is that when you hover over the visit time in the result list you can get a new list with all the timestamps and a count? Would that solve this for you?

[2018-08-24 09:34] oliversauter commented on #524
Hey @and-thus-are-no-longer-available-to-eat

So fortunately on chrome you can do it, as shown in this video:
http://recordit.co/dqQnKjN8vN
It seems though as if you would not get any search result suggestions either. So w+space is still the best way to search completely in the address bar.

Unfortunately I could not find a setting doing that in Firefox :(
Closing this for now, might become releva

[2018-08-24 09:34] #524 closed

[2018-08-24 09:36] oliversauter commented on #521
This is a great feature addition, and also would make it an excellent filter "ah it was an article, or a shopping page, or some governmental stuff" :)

[2018-08-24 09:40] oliversauter commented on #508
Hey @azazel75

Sorry for the late reply. The past weeks were super busy.
Yeah the problem with the API is indeed quiet a bummer.

We haven't investigated this, but maybe you have an idea of a small script we can run, as you already did some work with Python on this?
If we can access the tags by url from FF somehow with JS, then I assume it should not be too much of a problem to integrate this into

[2018-08-24 11:59] oliversauter commented on #534
Another issue where it popped up: https://worldbrain.helprace.com/i72-memex-not-working-on-ubuntu-16-04-firefox-61-0-2-64-bit#item_comment_block_38637

[2018-08-24 12:02] oliversauter commented on #533
AWS console works for me as well, just not Quicksight. Maybe it has something to do with the iframe?
Can we maybe detect when a person is sending login-requests and disable the sidebar in that tab until the next page is finished loading? Could that help?

[2018-08-24 12:26] oliversauter commented on #389
I got another idea: Maybe it is the same issues we had with the overview clogging up with the redux states?
Closing this now in any case as nobody seems to have experienced this anymore.

[2018-08-24 12:26] #389 closed

[2018-08-24 12:28] oliversauter commented on #383
Now re-reading this part I think the "bookmarked" should act as a flag, not only as a timestamp. So if the page has been bookmarked, it should show up if there is any time this page has been visited that fits into the time filter and bookmark filter.

[2018-08-24 12:30] oliversauter commented on #382
Closing this due to inactivity. Let us know @100ideas if you still have some issues and we try to help you as fast as we can :)

[2018-08-24 12:30] #382 closed

[2018-08-24 12:31] oliversauter commented on #360
This has been implemented. Can't find the respective PR anymore though.

[2018-08-24 12:31] #360 closed

[2018-08-24 12:33] shivam-tripathi commented on #413
@oliversauter Yeah, it's been resolved now. If it's already with everyone, we can close it now. :)

[2018-08-24 12:33] #413 closed

[2018-08-24 12:37] #272 closed

[2018-08-24 12:37] #280 closed

[2018-08-24 12:40] oliversauter commented on #216
Can we close this one?

[2018-08-24 19:56] azazel75 commented on #508
About the way to do it, I was thinking that a way to implement this would be by using [Native messaging](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_messaging), I already have installed an extension that uses it ([Textern](https://github.com/jlebon/textern)) and it work well. The real issue is that the native script need to open (read-only) the right places.sqlite

[2018-08-26 19:35] Bisso1998 opened #537 "Broken Links in CONTRIBUTING.md"
In the page : [https://github.com/WorldBrain/Memex/blob/master/CONTRIBUTING.md](url) all links to The Docs ( [https://github.com/WorldBrain/Memex/blob/src/page-storage/Readme.md](url) ) are broken.
<b>Under Application Structure all src links are broken. </b>

Also, there is no folder by the name bookmarks under src in the repo although that is what is written in the Contributing page.

[2018-08-27 02:54] poltak commented on #508
Yes, although it's not to part of the standard WebExt APIs yet. Here is the corresponding upstream issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1225916

@azazel75 if you have built a external program to do this, while it would be possible to have that program communicate data with a memex installation via WebExt messaging APIs, it would require users to install and run this program while im

[2018-08-27 04:45] poltak commented on #216
I think so, as the old index + PouchDB stuff was completely disabled a few releases back.

[2018-08-27 04:45] #216 closed

[2018-08-27 14:00] oliversauter commented on #537
Thanks for the pointers.
Found the bug. We changed from master to develop as our main branch recently, and the relative addresses were not implemented to support that case.
Fixed it in this PR: https://github.com/WorldBrain/Memex/pull/538

[2018-08-27 15:18] Bisso1998 commented on #537
Great!
Checked the PR.
Everything looks fine to me!

[2018-08-27 15:59] oliversauter opened #539 "Memex.Link tooltip not working"
If reporting a bug:

1. __Can you describe the problem and bug in more detail?__
When going to [this site](https://www.thestreet.com/video/tesla-private-musk-loose-canon-14692029), people can reproduce 2 errors:
1) sometimes the tooltip does not load at all, even after the page has been fully loaded
2) its not possible to create a memex.link, loading spinner spins forever.

2. __How can we replica

[2018-08-27 17:16] oliversauter opened #540 "UI elements to introduce crowdfunding campaigns"
Soon we will launch our [feature-based crowdfunding](https://worldbrain.io/crowdfunding-memex/), where people can back upcoming features and in return get Memex Credits. Those can be used to pay for premium upgrades, like backups,  more sharing capabilties, API requests etc.

Since it can be overwhelming to have a huge list of available upgrades (which will still be there), we introduce those camp

[2018-08-27 17:39] mukeshkharita commented on #540
@oliversauter Sure, I'll add tracking once the UI got implemented.
BTW If due to these things the crowdfunding is not able to release then we can implement very easily. :slightly_smiling_face:

[2018-08-27 18:40] digi0ps commented on #539
I didn't get that error message, I am getting this after waiting for a few mins.
The `undefined` is the console log of the result returned from the post request to Memex Link server.
![image](https://user-images.githubusercontent.com/3889675/44678090-238a2c00-aa55-11e8-9c46-58573402c4c5.png)

On looking at the console log of the background script, I get this:
![image](https://user-images.githubuse

[2018-08-27 21:53] oliversauter commented on #540
related to your comment in https://github.com/WorldBrain/Memex/pull/541#issuecomment-416374347
``Help me with the popup (Is it same as this & How to call it )
[optional] Icon for reply button hover event . Just a UX upgrade ``

Indeed it makes sense here to think about a common component for these full screen interlays. Seems to be a good module to also introduce new features, just with different

[2018-08-28 00:12] oliversauter commented on #284
We implemented it luckily a while ago :)

[2018-08-28 00:16] oliversauter opened #542 "Reintroduce the tips feature"
@subrat-sahu during gsoc you removed the tooltip section in favor of the sidebar.

I'd propose that
1) we put that tooltip just on the other side of the overview.
2) Removing the sharing buttons on the right side, and putting the "feedback" button in the bottom right corner, but turned 90° clockwise.

[2018-08-28 00:16] oliversauter opened #543 "Tooltips back in overview"
@subrat-sahu during gsoc you removed the tooltip section in favor of the sidebar.

I'd propose that
1) we put that tooltip just on the other side of the overview.
2) Removing the sharing buttons on the right side, and putting the "feedback" button in the bottom right corner, but turned 90° clockwise.

[2018-08-28 00:17] oliversauter opened #544 "Tooltips back in overview"
@subrat-sahu during gsoc you removed the tooltip section in favor of the sidebar.

I'd propose that
1) we put that tooltip just on the other side of the overview.
2) Removing the sharing buttons on the right side, and putting the "feedback" button in the bottom right corner, but turned 90° clockwise.

[2018-08-28 00:23] oliversauter opened #545 "Tooltip back to the other side."
@subrat-sahu during gsoc you removed the tooltip section in favor of the sidebar.

I'd propose that
1) we put that tooltip just on the other side of the overview.
2) Removing the sharing buttons on the right side, and putting the "feedback" button in the bottom right corner, but turned 90° clockwise.

[2018-08-28 02:28] poltak commented on #543
Dupe of #542

[2018-08-28 02:28] #543 closed

[2018-08-28 02:28] #544 closed

[2018-08-28 02:30] #545 closed

[2018-08-28 02:37] poltak commented on #540
We have the [`<Overlay>` component](https://github.com/WorldBrain/Memex/blob/develop/src/common-ui/components/Overlay.js) which is built with [React portals](https://reactjs.org/docs/portals.html). I would recommend building on top of that for any new needed modal-like UI elements to avoid re-inventing the wheel.
We also have the [`<Modal>` component](https://github.com/WorldBrain/Memex/blob/devel

[2018-08-28 07:30] ShishKabab commented on #539
The staging.memex.link points directly to static content. The dyn. prefix is the server running the direct linking backend for creating the link. So creation -> dyn.(staging.)memex.link, retrieval -> (staging.)memex.link. I'll check out the server logs to check out if there's a useful error there  :)

[2018-08-28 07:34] ShishKabab commented on #539
Ahh, got it! This is the old question that we didn't resolve yet: what if the source (the site hosting the annotated page) doesn't have a valid SSL certificate? Right now it's just rejected and it fails to create the link. Personally thinking quickly I don't see any danger in just ignoring SSL errors, since we're not sending or retrieving any sensitive data. (Please ping me on Slack for a faster r

[2018-08-28 08:15] ShishKabab commented on #470
Re: remote functions. I remember creating a branch called 'headless-browser-tests' or something where I did mock out those.

The simplest for now I think would be indeed not to cover the extension API, and just do the integration tests by making some classes communicate directly.

As for browser testing, there are very few things that I think really depend on the browser. React testing (although a

[2018-08-28 17:38] pranshuchittora commented on #540
Building a common component for popups could makes sense ,
On the other hand , I tried to create share button modal in `Annotations`. Just a glimpse of it .
![screenshot from 2018-08-28 22-38-29](https://user-images.githubusercontent.com/32242596/44739937-c9519f80-ab16-11e8-8045-7ac378758413.png)

[2018-08-28 17:53] digi0ps commented on #533
Took a deeper look into Cloudfare login page's source code and found out they were using something similar to [this](https://stackoverflow.com/questions/29860067/whats-this-long-script-in-page-source-what-it-is-used-for). I am guessing that it uses the [MutationObserver](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) to monitor the page for insertion of iFrames to prevent click

[2018-08-28 20:01] oliversauter commented on #286
Design considerations regarding architecture. It may be possible that later on people can change the css of the tool themselves or use different skins in the future. How much additional work would it be to make the necessary code abstractions, without actually implementing any of the other skins right now?

[2018-08-29 16:51] oliversauter commented on #533
Thanks for investigating! Great lead!
I would like to prevent hard coding stuff like that. Is there a way to detect their detectors and then disabling the sidebar dynamically there?

[2018-08-29 16:55] oliversauter commented on #540
Is there the old comment behind? or why does it look like the upper part is 2 layers?

What is important UX wise is that you replace the content of the original card (or hide the card itself temporarily) the reason is that when this popup comes that it appears at the exact same spot, and when closing, the old card comes back at the same place too. Doing this notification inside the card itself see

[2018-08-29 16:58] oliversauter commented on #539
so what do we do? Any second thought on the danger? Maybe @danrl or @bluesun have an idea?
If it is not a problem, I'd move on with your suggestion.

[2018-08-29 17:01] oliversauter commented on #544
he weird :) why did it open this one 4 times^^

[2018-08-30 16:29] pranshuchittora opened #548 "Update Memex tutorial"
Recently I introduced Memex to few of my friends. But they are still not aware of many awesone features such as Annotation and many more . Beacause the `Full Tutorial` is of the old version which should be update so that users know about all the features from the day one . :smile:

![screenshot from 2018-08-30 21-52-43](https://user-images.githubusercontent.com/32242596/44865401-dbab1500-ac9f-11e8

[2018-08-31 17:20] SridharPandian commented on #286
@oliversauter Is anyone working on it right now or shall i start with it?

[2018-08-31 18:10] danrl commented on #539
I would not ignore the TLS errors. It is not hard to get a valid certificate nowadays and having an invalid one does raise some questions. It is good practices to warn the user in cases like this and ask for consent to proceed.

[2018-08-31 20:33] oliversauter commented on #286
@SridharPandian Great if you start on it. Thanks for your proactivity.

Before you go, please outline your plan to get there.
So question to answer:
1) What is your proposed architecture, especially under consideration that other "skins" may be able to be chosen later?
2) How would the search overview look like in your dark skin?

[2018-08-31 20:34] oliversauter commented on #548
Great point! Its on my map for next week to overhaul the user facing documentation with more videos and stuf :) Will keep the tutorial in mind too :)

[2018-09-01 07:05] SridharPandian commented on #286
@oliversauter , I have a couple of vague ideas, assuming that the night mode mode feature will be used only on the search overview.
1. A dropdown box in the settings panel, where I could choose my preferred skin from a set of predefined skins (similar to VSCode).
2. For the default dark mode, I thought of using #121312 for the background (Not a complete black color along with a tint of green) with

[2018-09-01 13:52] digi0ps commented on #533
Sorry I just saw this now.

Umm I don't think there is any way to detect their detectors. But I maybe wrong. Do you know of any ways @poltak @ShishKabab ?

Another way I thought is: We could disable the the iframe injection if the page had password input elements ( since almost all login and register pages have it ).

[2018-09-01 13:53] oliversauter commented on #533
That seems like a potential solution. How can you detect that?

[2018-09-01 14:10] digi0ps commented on #533
A simple query selector must do. 😄
`document.querySelectorAll('input[type=password]')`

[2018-09-01 16:10] sahil48 opened #550 "Discussion: Memex's Handling of Bookmarks and Ranking of Bookmarks and History in Results"
I do not know how Memex works with respect to handling bookmarks, so I opened up this discussion to learn more.

I want to know how Memex handles bookmarks after they are unbookmarked and how it distinguishes between bookmarks and history when showing search results.

I have two types of bookmarks:
1) Bookmarks that I bookmark because they are valuable resources I want to see first in my memex res

[2018-09-01 18:52] oliversauter commented on #286
Yes for now.

Be aware that there are several components in the overview, like the annotation sidebar, which should also get another skin. Maybe you find some articles/resources on how to do the architecture for different skins right. The goal should be that we can easily add new styles later.

Looks like a cool color, but need to see it in context.
I think it would be good to first do the archite

[2018-09-02 00:14] oliversauter opened #551 "Improving onboarding"
## Goal:
We need to improve the onboarding flow so that people can navigate more on their own to understand the tool. I made some mockups here for how to change it.

For simplicity reasons I removed the progress bar and autoimporter. This way users can explore the features, come back and start using Memex. First thing they see is the prompt to visit some pages.

For now we unfortunately need to re

[2018-09-02 00:15] oliversauter opened #552 "Crowdfunding Release Checklist"
We are about launch our internal crowdfunding system to let people help funding the development of new features, and get premium credits in return after some time.
There are some smaller things left to make that experience coherent. Here a list.

For those tagged, it would be good to hear if you folks have time to do this until this Wednesday?
I assume none of these will take more than 5 hours.
Th